.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  font-weight: 500;
  color: inherit;
  border-radius: 0;
  font-size: 1rem;
  & .alert-heading {
    color: inherit;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-heading {
  font-size: 1.6rem;
}
.alert-info {
  border-style: solid;
  border-color: #479de7;
  background-color: #479de722;
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: #479de7;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-warning {
  border-style: solid;
  border-color: #f7820a;
  background-color:#f7820a22; 
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: #f7820a;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-danger {
  border-style: solid;
  border-color: #CC0000;
  background-color: #ea9999; 
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: #CC0000;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-success {
  border-style: solid;
  border-color: #22bb33;
  background-color:#90dd99; 
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: #22bb33;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-primary {
  border-style: solid;
  border-color:  #1976d2;
  background-color: #a3c8ed;
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color:  #1976d2;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-secondary {
  border-style: solid;
  border-color: #9FA6B2;
  background-color: #d8dbe0;
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: #9FA6B2;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-light {
  border-style: solid;
  border-color: var(--color-secondary-light);
  background-color: var(--color-primary-dark);
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: var(--color-secondary-light);
    margin: 0;
    margin-bottom: 1rem;
  }
}
.alert-dark {
  border-style: solid;
  border-color: var(--color-grey-dark);
  background-color: var(--color-grey-dark-alpha);
  border-width: 0 0 0 4px;
  font-size: 1rem;
  & .alert-heading > *,
  & .alert-heading {
    color: var(--color-secondary-medium);
    margin: 0;
    margin-bottom: 1rem;
  }
}

.td-content .alert:not(:first-child) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .td-max-width-on-larger-screens,
  .td-content > pre,
  .td-content > .highlight,
  .td-content > .lead,
  .td-content > h1,
  .td-content > h2,
  .td-content > blockquote,
  .td-content > dl dd,
  .td-content .footnotes,
  .td-content > .alert {
    max-width: 100%;
  }
}

