/* COMMAND REFERENCE */
table.mesherycomponents {
  th {
    background-color: $charcoal;
    color: white;
  }
  td.childcomponent {
    color: white;
    background-color: $tealblue;
  }
}

.cmd-caption {
  margin-bottom: 2rem;
}

/* INSTALLATION */
div.prereqs {
  background-color: $charcoal;
  font-size: 1.5rem;
  & > *,
  & > * > * {
    color: #ddd;
    margin-top: 0;
  }
  color: #ddd;
  margin: 0.5rem;
  padding: 15px;
  border-radius: 0.3rem;
}
a.meshery-light {
  color: $keppel;
}

