$darkjunglegreen: #1e2117;
$charcoal: #3c494f;
$charcoal_rgba: rgba(60, 73, 79, 1);
$keppel: #00b39f;
$caribbeangreen: #00d3a9;

@import "adapters.scss";
@import "clipboard.scss";
@import "overview.scss";
@import "mesheryctl.scss";
@import "navbar.scss";
@import "swagger.scss";
@import "root-variables.scss";
@import "helpers.scss";
@import "layout.scss";
@import "sidebar.scss";
@import "elements.scss";
@import "td-content.scss";
@import "table-of-content.scss";
@import "footer.scss";
@import "table.scss";
@import "code.scss";
@import "alert.scss";
@import "small-screen-styles.scss";
@import "tabbed-menu.scss";
@import "fonts.scss";
@import "integration.scss";