### END-TO-END TESTS

- Testing started at: September 22nd 2025, 11:52:39 pm

**📦 Test Result Summary**

- ✅ 91 passed
- ❌ 0 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 35 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->