### END-TO-END TESTS

- Testing started at: June 20th 2025, 11:46:47 pm

**📦 Test Result Summary**

- ✅ 71 passed
- ❌ 1 failed
- ⚠️ 1 flaked
- ⏩ 4 skipped

⌛ _Duration: 5 minutes and 44 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-meshery-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->