### END-TO-END TESTS

- Testing started at: June 26th 2025, 11:53:05 pm

**📦 Test Result Summary**

- ✅ 2 passed
- ❌ 48 failed
- ⚠️ 16 flaked
- ⏩ 18 skipped

⌛ _Duration: 8 minutes and 23 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Logout from current user session |  | ❌ |
| 2 | chromium-meshery-provider | Create a Model |  | ❌ |
| 3 | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 5 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 6 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 7 | chromium-meshery-provider | Verify that UI components are displayed |  | ❌ |
| 8 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ➖ |
| 9 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 10 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 11 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 12 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 13 | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 14 | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 15 | chromium-meshery-provider | Common UI elements |  | ❌ |
| 16 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 17 | chromium-meshery-provider | Test if Notification button is displayed |  | ❌ |
| 18 | chromium-meshery-provider | Verify Performance Analysis Details |  | ❌ |
| 19 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 20 | chromium-meshery-provider | Test if Profile button is displayed |  | ❌ |
| 21 | chromium-meshery-provider | Verify Kanvas Details |  | ❌ |
| 22 | chromium-meshery-provider | Aggregation Charts are displayed |  | ❌ |
| 23 | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 24 | chromium-meshery-provider | Add performance profile with load generator fortio |  | ❌ |
| 25 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 26 | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ❌ |
| 27 | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 28 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; | unstable | ⚠️ |
| 29 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 30 | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 31 | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; | unstable | ⚠️ |
| 32 | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 33 | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 34 | chromium-local-provider | Verify that UI components are displayed |  | ❌ |
| 35 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ➖ |
| 36 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 37 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 38 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 39 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 40 | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 41 | chromium-meshery-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 42 | chromium-local-provider | Verify Performance Analysis Details |  | ❌ |
| 43 | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 44 | chromium-local-provider | Logout from current user session |  | ❌ |
| 45 | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 46 | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 47 | chromium-local-provider | Create a Model |  | ❌ |
| 48 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 49 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 50 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 51 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 52 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 53 | chromium-local-provider | Test if Profile button is displayed |  | ❌ |
| 54 | chromium-local-provider | Common UI elements |  | ❌ |
| 55 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 56 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 57 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 58 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 59 | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 60 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 61 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 62 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 63 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 64 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 65 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; | unstable | ⚠️ |
| 66 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 67 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; | unstable | ⚠️ |
| 68 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 69 | chromium-meshery-provider | All settings tabs |  | ❌ |
| 70 | chromium-local-provider | All settings tabs |  | ❌ |
| 71 | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 72 | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 73 | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 74 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->