### END-TO-END TESTS

- Testing started at: September 24th 2025, 8:39:51 pm

**📦 Test Result Summary**

- ✅ 89 passed
- ❌ 1 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 11 minutes and 53 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 2 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 3 | chromium-meshery-provider | Import a Model via CSV Import |  | ⚠️ |
| 4 | chromium-local-provider | imports design via File |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->