### END-TO-END TESTS

- Testing started at: October 5th 2025, 2:19:47 am

**📦 Test Result Summary**

- ✅ 47 passed
- ❌ 35 failed
- ⚠️ 3 flaked
- ⏩ 10 skipped

⌛ _Duration: 12 minutes and 22 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-local-provider | Verify that UI components are displayed |  | ⚠️ |
| 7 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 8 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 9 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 10 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 11 | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 12 | chromium-local-provider | Verify Performance Analysis Details |  | ❌ |
| 13 | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 14 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 15 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 16 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 17 | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 18 | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 19 | chromium-local-provider | renders design page UI |  | ❌ |
| 20 | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 21 | chromium-meshery-provider | Create a Model |  | ⚠️ |
| 22 | chromium-meshery-provider | Import a Model via CSV Import |  | ❌ |
| 23 | chromium-local-provider | should edit design in Design Configurator |  | ❌ |
| 24 | chromium-local-provider | displays published design card correctly |  | ❌ |
| 25 | chromium-local-provider | Test if Profile button is displayed |  | ❌ |
| 26 | chromium-local-provider | Logout from current user session |  | ❌ |
| 27 | chromium-local-provider | Create a Model |  | ❌ |
| 28 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 29 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 30 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 31 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 32 | chromium-local-provider | displays public design card correctly |  | ❌ |
| 33 | chromium-local-provider | Common UI elements |  | ❌ |
| 34 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 35 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 36 | chromium-local-provider | imports design via File |  | ❌ |
| 37 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 38 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 39 | chromium-local-provider | imports design via URL |  | ❌ |
| 40 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 41 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 42 | chromium-local-provider | deletes a published design from the list |  | ❌ |
| 43 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 44 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 45 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 46 | chromium-local-provider | All settings tabs |  | ❌ |
| 47 | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 48 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->