### END-TO-END TESTS

- Testing started at: August 28th 2025, 10:14:27 pm

**📦 Test Result Summary**

- ✅ 87 passed
- ❌ 0 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 7 minutes and 28 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->