### END-TO-END TESTS

- Testing started at: June 2nd 2025, 8:57:05 pm

**📦 Test Result Summary**

- ✅ 60 passed
- ❌ 3 failed
- ⚠️ 3 flaked
- ⏩ 7 skipped

⌛ _Duration: 5 minutes and 51 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Search a Model and Export it |  | ❌ |
| 2 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 3 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 9 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 10 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 11 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 12 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 13 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 14 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 15 | chromium-local-provider | Search a Model and Export it |  | ❌ |
| 16 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 17 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 18 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 19 | chromium-local-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 20 | chromium-local-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->