### END-TO-END TESTS

- Testing started at: November 20th 2025, 6:03:35 pm

**📦 Test Result Summary**

- ✅ 54 passed
- ❌ 8 failed
- ⚠️ 18 flaked
- ⏩ 11 skipped

⌛ _Duration: 10 minutes and 33 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | displays published design card correctly |  | ⚠️ |
| 2 | chromium-meshery-provider | Logout from current user session |  | ⚠️ |
| 3 | chromium-meshery-provider | Verify that UI components are displayed |  | ⚠️ |
| 4 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | chromium-meshery-provider | Test if Notification button is displayed |  | ⚠️ |
| 10 | chromium-meshery-provider | Create a Model |  | ⚠️ |
| 11 | chromium-meshery-provider | Import a Model via File Import |  | ❌ |
| 12 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 13 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 14 | chromium-meshery-provider | All settings tabs |  | ⚠️ |
| 15 | chromium-meshery-provider | Add performance profile with load generator fortio |  | ⚠️ |
| 16 | chromium-meshery-provider | deletes a published design from the list |  | ⚠️ |
| 17 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 18 | chromium-local-provider | should verify Design Configurator page elements |  | ⚠️ |
| 19 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 20 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 21 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 22 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 23 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 24 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 25 | chromium-local-provider | Logout from current user session |  | ⚠️ |
| 26 | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 27 | chromium-local-provider | Verify Performance Analysis Details |  | ⚠️ |
| 28 | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ⚠️ |
| 29 | chromium-local-provider | Create a Model |  | ⚠️ |
| 30 | chromium-local-provider | Import a Model via File Import |  | ❌ |
| 31 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 32 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 33 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ⚠️ |
| 34 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 35 | chromium-local-provider | Grafana elements on metrics tab |  | ⚠️ |
| 36 | chromium-local-provider | Verify Meshery Design Embed Details |  | ⚠️ |
| 37 | chromium-local-provider | Add performance profile with load generator fortio |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->