### END-TO-END TESTS

- Testing started at: June 23rd 2025, 10:26:19 pm

**📦 Test Result Summary**

- ✅ 77 passed
- ❌ 2 failed
- ⚠️ 5 flaked
- ⏩ 1 skipped

⌛ _Duration: 10 minutes and 58 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Import a Model via CSV Import |  | ⚠️ |
| 3 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 4 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 5 | chromium-local-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 6 | chromium-local-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->