### END-TO-END TESTS

- Testing started at: October 5th 2025, 9:58:24 am

**📦 Test Result Summary**

- ✅ 90 passed
- ❌ 0 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 44 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->