### END-TO-END TESTS

- Testing started at: July 27th 2025, 2:37:58 am

**📦 Test Result Summary**

- ✅ 69 passed
- ❌ 3 failed
- ⚠️ 9 flaked
- ⏩ 2 skipped

⌛ _Duration: 9 minutes and 14 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 7 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 8 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 9 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 10 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->