### END-TO-END TESTS

- Testing started at: November 18th 2025, 4:30:37 am

**📦 Test Result Summary**

- ✅ 88 passed
- ❌ 2 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 26 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-local-provider | Transition to not found state and then back to connected state |  | ⚠️ |
| 3 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->