### END-TO-END TESTS

- Testing started at: December 6th 2025, 11:51:36 pm

**📦 Test Result Summary**

- ✅ 85 passed
- ❌ 2 failed
- ⚠️ 4 flaked
- ⏩ 6 skipped

⌛ _Duration: 10 minutes and 50 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 6 | chromium-meshery-provider | Action buttons on adapters tab |  | ⚠️ |
| 7 | chromium-meshery-provider | Import a Model via File Import |  | ⚠️ |
| 8 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 9 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 10 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 11 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 12 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->