### END-TO-END TESTS

- Testing started at: October 4th 2025, 5:20:14 pm

**📦 Test Result Summary**

- ✅ 87 passed
- ❌ 2 failed
- ⚠️ 3 flaked
- ⏩ 2 skipped

⌛ _Duration: 9 minutes and 18 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 6 | chromium-meshery-provider | Import a Model via CSV Import |  | ⚠️ |
| 7 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->