### END-TO-END TESTS

- Testing started at: October 28th 2025, 7:15:24 pm

**📦 Test Result Summary**

- ✅ 86 passed
- ❌ 2 failed
- ⚠️ 2 flaked
- ⏩ 1 skipped

⌛ _Duration: 8 minutes and 37 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ❌ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->