### END-TO-END TESTS

- Testing started at: September 15th 2025, 11:53:29 pm

**📦 Test Result Summary**

- ✅ 89 passed
- ❌ 0 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 22 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 2 | chromium-local-provider | imports design via File |  | ⚠️ |
| 3 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->