### END-TO-END TESTS

- Testing started at: January 19th 2026, 4:10:06 am

**📦 Test Result Summary**

- ✅ 81 passed
- ❌ 3 failed
- ⚠️ 0 flaked
- ⏩ 4 skipped

⌛ _Duration: 5 minutes and 14 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | Meshery | chromium-meshery-provider | Action buttons on adapters tab |  | ✅ |
| 2 | Meshery | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ✅ |
| 3 | Meshery | chromium-meshery-provider | Aggregation Charts are displayed |  | ✅ |
| 4 | Meshery | chromium-meshery-provider | All settings tabs |  | ✅ |
| 5 | Meshery | chromium-meshery-provider | Common UI elements |  | ✅ |
| 6 | Meshery | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 7 | Meshery | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 8 | Meshery | chromium-meshery-provider | Create a Model |  | ✅ |
| 9 | Meshery | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ✅ |
| 10 | Meshery | chromium-meshery-provider | deletes a published design from the list |  | ✅ |
| 11 | Meshery | chromium-meshery-provider | deploys a published design to a connected cluster |  | ✅ |
| 12 | Meshery | chromium-meshery-provider | displays public design card correctly |  | ✅ |
| 13 | Meshery | chromium-meshery-provider | displays published design card correctly |  | ✅ |
| 14 | Meshery | chromium-meshery-provider | Grafana elements on metrics tab |  | ✅ |
| 15 | Meshery | chromium-meshery-provider | Import a Model via CSV Import |  | ✅ |
| 16 | Meshery | chromium-meshery-provider | Import a Model via File Import |  | ✅ |
| 17 | Meshery | chromium-meshery-provider | Import a Model via Url Import |  | ✅ |
| 18 | Meshery | chromium-meshery-provider | imports design via File |  | ❌ |
| 19 | Meshery | chromium-meshery-provider | imports design via URL |  | ✅ |
| 20 | Meshery | chromium-meshery-provider | Logout from current user session |  | ✅ |
| 21 | Meshery | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 22 | Meshery | chromium-meshery-provider | renders design page UI |  | ✅ |
| 23 | Meshery | chromium-meshery-provider | Search a Model and Export it |  | ✅ |
| 24 | Meshery | chromium-meshery-provider | should edit design in Design Configurator |  | ✅ |
| 25 | Meshery | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ✅ |
| 26 | Meshery | chromium-meshery-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 27 | Meshery | chromium-meshery-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 28 | Meshery | chromium-meshery-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 29 | Meshery | chromium-meshery-provider | should identify relationships for meshery-design | relationship | ✅ |
| 30 | Meshery | chromium-meshery-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 31 | Meshery | chromium-meshery-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 32 | Meshery | chromium-meshery-provider | should verify Design Configurator page elements |  | ✅ |
| 33 | Meshery | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 34 | Meshery | chromium-meshery-provider | Test if Notification button is displayed |  | ✅ |
| 35 | Meshery | chromium-meshery-provider | Test if Profile button is displayed |  | ✅ |
| 36 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 37 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 38 | Meshery | chromium-meshery-provider | Verify Kanvas Details |  | ✅ |
| 39 | Meshery | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid |  | ✅ |
| 40 | Meshery | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 41 | Meshery | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 42 | Meshery | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ✅ |
| 43 | Meshery | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 44 | Meshery | chromium-meshery-provider | Verify Performance Analysis Details |  | ✅ |
| 45 | Meshery | chromium-meshery-provider | Verify that UI components are displayed |  | ✅ |
| 46 | None | chromium-local-provider | Action buttons on adapters tab |  | ✅ |
| 47 | None | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 48 | None | chromium-local-provider | Aggregation Charts are displayed |  | ✅ |
| 49 | None | chromium-local-provider | All settings tabs |  | ✅ |
| 50 | None | chromium-local-provider | Common UI elements |  | ✅ |
| 51 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 52 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 53 | None | chromium-local-provider | Create a Model |  | ✅ |
| 54 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 55 | None | chromium-local-provider | deletes a published design from the list |  | ✅ |
| 56 | None | chromium-local-provider | deploys a published design to a connected cluster |  | ✅ |
| 57 | None | chromium-local-provider | displays public design card correctly |  | ➖ |
| 58 | None | chromium-local-provider | displays published design card correctly |  | ✅ |
| 59 | None | chromium-local-provider | Grafana elements on metrics tab |  | ✅ |
| 60 | None | chromium-local-provider | Import a Model via CSV Import |  | ✅ |
| 61 | None | chromium-local-provider | Import a Model via File Import |  | ✅ |
| 62 | None | chromium-local-provider | Import a Model via Url Import |  | ✅ |
| 63 | None | chromium-local-provider | imports design via File |  | ❌ |
| 64 | None | chromium-local-provider | imports design via URL |  | ✅ |
| 65 | None | chromium-local-provider | Logout from current user session |  | ✅ |
| 66 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 67 | None | chromium-local-provider | renders design page UI |  | ✅ |
| 68 | None | chromium-local-provider | Search a Model and Export it |  | ✅ |
| 69 | None | chromium-local-provider | should edit design in Design Configurator |  | ✅ |
| 70 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ✅ |
| 71 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 72 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 73 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 74 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ✅ |
| 75 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 76 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 77 | None | chromium-local-provider | should verify Design Configurator page elements |  | ✅ |
| 78 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 79 | None | chromium-local-provider | Test if Notification button is displayed |  | ✅ |
| 80 | None | chromium-local-provider | Test if Profile button is displayed |  | ✅ |
| 81 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 82 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 83 | None | chromium-local-provider | Verify Kanvas Details |  | ✅ |
| 84 | None | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ✅ |
| 85 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 86 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 87 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ✅ |
| 88 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 89 | None | chromium-local-provider | Verify Performance Analysis Details |  | ✅ |
| 90 | None | chromium-local-provider | Verify that UI components are displayed |  | ✅ |
| 91 | None | local-setup | authenticate as None provider |  | ✅ |
| 92 | None | remote-setup | authenticate as Meshery provider |  | ✅ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


<details>
<summary>❌ imports design via File (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Add a cluster connection by uploading kubeconfig file (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ imports design via File (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>






**🔗 Relationship Tests**

<details>
    <summary>[Show/Hide] Relationship Test Details (18 tests)</summary>
    <div markdown="1">

| Kind | Type | SubType | From | To | Model | Design Name | Status |
| :---: | :---: | :---: | :---: | :---: | :---: | :--- | :---: |
| edge | binding | permission | ClusterRole | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | binding | permission | Role | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | non-binding | network | Service | Deployment | kubernetes | service-to-deployment-network | ✅ |
| edge | non-binding | network | Service | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| edge | non-binding | reference | ClusterRoleBinding | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | deployment-configmap-reference-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | Understanding Relationships | ✅ |
| hierarchical | parent | alias | Container | Pod | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | hierarchical-parent-namespace-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | pv-pvc-edge-non-binding-reference-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | Understanding Relationships | ✅ |
| hierarchical | sibling | matchlabels | ClusterRole | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Deployment | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Service | Service | kubernetes | meshery-design-fixture.json | ✅ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->
