### END-TO-END TESTS

- Testing started at: September 11th 2025, 11:51:10 pm

**📦 Test Result Summary**

- ✅ 92 passed
- ❌ 1 failed
- ⚠️ 5 flaked
- ⏩ 0 skipped

⌛ _Duration: 12 minutes and 37 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ⚠️ |
| 3 | chromium-local-provider | imports design via File |  | ⚠️ |
| 4 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 5 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |
| 6 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->