### END-TO-END TESTS

- Testing started at: April 10th 2025, 1:04:46 am

**📦 Test Result Summary**

- ✅ 28 passed
- ❌ 2 failed
- ⚠️ 25 flaked
- ⏩ 0 skipped

⌛ _Duration: 10 minutes and 37 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Verify Configure Metrics Navigation and Settings | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 4 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 5 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 7 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 8 | chromium-meshery-provider | Verify Performance Analysis Details | unstable | ⚠️ |
| 9 | chromium-meshery-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 10 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 11 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 12 | chromium-meshery-provider | Verify Kanvas Details | unstable | ⚠️ |
| 13 | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 14 | chromium-meshery-provider | Verify Meshery Adapter for Istio Section | unstable | ⚠️ |
| 15 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 16 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 17 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 18 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 19 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 20 | chromium-local-provider | Verify Kanvas Snapshot using data-testid | unstable | ⚠️ |
| 21 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 22 | chromium-local-provider | Verify Configure Metrics Navigation and Settings | unstable | ⚠️ |
| 23 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 24 | chromium-local-provider | Verify Performance Analysis Details | unstable | ⚠️ |
| 25 | chromium-local-provider | Verify Meshery Adapter for Istio Section | unstable | ⚠️ |
| 26 | chromium-meshery-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 27 | chromium-local-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 28 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 29 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 30 | chromium-meshery-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 31 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 32 | chromium-local-provider | Edit the configuration of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 33 | chromium-local-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |
| 34 | chromium-local-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->