### END-TO-END TESTS

- Testing started at: August 29th 2025, 3:50:29 pm

**📦 Test Result Summary**

- ✅ 78 passed
- ❌ 9 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 15 minutes and 59 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | should verify Design Configurator page elements |  | ❌ |
| 2 | chromium-meshery-provider | renders design page UI |  | ❌ |
| 3 | chromium-meshery-provider | should edit design in Design Configurator |  | ❌ |
| 4 | chromium-meshery-provider | displays published design card correctly |  | ❌ |
| 5 | chromium-meshery-provider | displays public design card correctly |  | ❌ |
| 6 | chromium-meshery-provider | imports design via File |  | ❌ |
| 7 | chromium-meshery-provider | imports design via URL |  | ❌ |
| 8 | chromium-meshery-provider | deletes a published design from the list |  | ❌ |
| 9 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->