### END-TO-END TESTS

- Testing started at: September 24th 2025, 4:31:00 am

**📦 Test Result Summary**

- ✅ 85 passed
- ❌ 1 failed
- ⚠️ 2 flaked
- ⏩ 4 skipped

⌛ _Duration: 8 minutes and 24 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 7 | chromium-local-provider | Transition to not found state and then back to connected state |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->