### END-TO-END TESTS

- Testing started at: November 20th 2025, 4:39:59 pm

**📦 Test Result Summary**

- ✅ 84 passed
- ❌ 1 failed
- ⚠️ 4 flaked
- ⏩ 0 skipped

⌛ _Duration: 10 minutes and 7 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | displays public design card correctly |  | ⚠️ |
| 2 | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ⚠️ |
| 3 | chromium-meshery-provider | should edit design in Design Configurator |  | ❌ |
| 4 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 5 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->