### END-TO-END TESTS

- Testing started at: September 15th 2025, 11:08:21 am

**📦 Test Result Summary**

- ✅ 75 passed
- ❌ 12 failed
- ⚠️ 3 flaked
- ⏩ 3 skipped

⌛ _Duration: 8 minutes and 39 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 2 | chromium-local-provider | deletes a published design from the list |  | ❌ |
| 3 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 4 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 5 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 6 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 7 | chromium-local-provider | Create a Model |  | ⚠️ |
| 8 | chromium-local-provider | Import a Model via Url Import |  | ❌ |
| 9 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 10 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 11 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 12 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 13 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 14 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 15 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 16 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 17 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 18 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->