### END-TO-END TESTS

- Testing started at: November 20th 2025, 6:06:50 pm

**📦 Test Result Summary**

- ✅ 79 passed
- ❌ 2 failed
- ⚠️ 2 flaked
- ⏩ 7 skipped

⌛ _Duration: 9 minutes and 30 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | setup | authenticate as Meshery provider |  | ⚠️ |
| 2 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 3 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 6 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 7 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 8 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 9 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 10 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 11 | chromium-local-provider | Create a Model |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->