### END-TO-END TESTS

- Testing started at: September 23rd 2025, 8:01:11 am

**📦 Test Result Summary**

- ✅ 88 passed
- ❌ 1 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 54 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 2 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->