### END-TO-END TESTS

- Testing started at: September 23rd 2025, 1:37:01 pm

**📦 Test Result Summary**

- ✅ 92 passed
- ❌ 1 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 49 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ❌ |
| 3 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ⚠️ |
| 4 | chromium-meshery-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->