### END-TO-END TESTS

- Testing started at: August 25th 2025, 9:15:08 pm

**📦 Test Result Summary**

- ✅ 89 passed
- ❌ 0 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 7 minutes and 59 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 2 | chromium-local-provider | Transition to not found state and then back to connected state |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->