### END-TO-END TESTS

- Testing started at: November 19th 2025, 7:31:43 pm

**📦 Test Result Summary**

- ✅ 85 passed
- ❌ 0 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 23 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | setup | authenticate as None provider |  | ⚠️ |
| 2 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->