### END-TO-END TESTS

- Testing started at: November 18th 2025, 6:03:33 pm

**📦 Test Result Summary**

- ✅ 89 passed
- ❌ 2 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 10 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ❌ |
| 3 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->