### END-TO-END TESTS

- Testing started at: September 30th 2025, 6:57:26 pm

**📦 Test Result Summary**

- ✅ 85 passed
- ❌ 1 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 45 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-local-provider | imports design via File |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->