### END-TO-END TESTS

- Testing started at: November 20th 2025, 8:07:07 pm

**📦 Test Result Summary**

- ✅ 65 passed
- ❌ 8 failed
- ⚠️ 12 flaked
- ⏩ 9 skipped

⌛ _Duration: 10 minutes and 29 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ⚠️ |
| 7 | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ⚠️ |
| 8 | chromium-meshery-provider | imports design via File |  | ⚠️ |
| 9 | chromium-meshery-provider | Search a Model and Export it |  | ⚠️ |
| 10 | chromium-meshery-provider | deletes a published design from the list |  | ❌ |
| 11 | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 12 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ⚠️ |
| 13 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 14 | chromium-local-provider | should verify Design Configurator page elements |  | ❌ |
| 15 | chromium-local-provider | Test if Profile button is displayed |  | ⚠️ |
| 16 | chromium-local-provider | Verify that UI components are displayed |  | ⚠️ |
| 17 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 18 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 19 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 20 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 21 | chromium-local-provider | displays public design card correctly |  | ⚠️ |
| 22 | chromium-local-provider | Create a Model |  | ⚠️ |
| 23 | chromium-local-provider | Import a Model via File Import |  | ❌ |
| 24 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 25 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 26 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 27 | chromium-local-provider | Add performance profile with load generator fortio |  | ⚠️ |
| 28 | chromium-local-provider | All settings tabs |  | ❌ |
| 29 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->