### END-TO-END TESTS

- Testing started at: November 18th 2025, 2:05:44 am

**📦 Test Result Summary**

- ✅ 88 passed
- ❌ 2 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 57 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Import a Model via File Import |  | ⚠️ |
| 2 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 3 | chromium-meshery-provider | Import a Model via CSV Import |  | ❌ |
| 4 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 5 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->