### END-TO-END TESTS

- Testing started at: October 6th 2025, 9:07:03 am

**📦 Test Result Summary**

- ✅ 90 passed
- ❌ 0 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 19 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ⚠️ |
| 2 | chromium-local-provider | imports design via File |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->