### END-TO-END TESTS

- Testing started at: November 4th 2025, 10:39:44 pm

**📦 Test Result Summary**

- ✅ 77 passed
- ❌ 3 failed
- ⚠️ 2 flaked
- ⏩ 9 skipped

⌛ _Duration: 8 minutes and 12 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Create a Model |  | ❌ |
| 2 | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 3 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 5 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 6 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ❌ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | chromium-local-provider | Create a Model |  | ❌ |
| 10 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 11 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 12 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 13 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 14 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->