### END-TO-END TESTS

- Testing started at: October 16th 2025, 3:17:01 pm

**📦 Test Result Summary**

- ✅ 84 passed
- ❌ 2 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 35 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 2 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 3 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ❌ |
| 4 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ⚠️ |
| 5 | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->