### END-TO-END TESTS

- Testing started at: November 7th 2025, 12:02:34 am

**📦 Test Result Summary**

- ✅ 76 passed
- ❌ 3 failed
- ⚠️ 0 flaked
- ⏩ 8 skipped

⌛ _Duration: 8 minutes and 13 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Create a Model |  | ❌ |
| 2 | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 3 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 5 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 6 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 7 | chromium-local-provider | Create a Model |  | ❌ |
| 8 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 9 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 10 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 11 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->