### END-TO-END TESTS

- Testing started at: June 21st 2025, 8:32:37 pm

**📦 Test Result Summary**

- ✅ 79 passed
- ❌ 1 failed
- ⚠️ 1 flaked
- ⏩ 1 skipped

⌛ _Duration: 9 minutes and 1 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 2 | chromium-local-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 3 | chromium-local-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->