### END-TO-END TESTS

- Testing started at: December 31st 2025, 12:26:40 am

**📦 Test Result Summary**

- ✅ 49 passed
- ❌ 41 failed
- ⚠️ 0 flaked
- ⏩ 14 skipped

⌛ _Duration: 9 minutes and 6 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | renders design page UI |  | ❌ |
| 2 | chromium-meshery-provider | should verify Design Configurator page elements |  | ❌ |
| 3 | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 4 | chromium-meshery-provider | Verify that UI components are displayed |  | ❌ |
| 5 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ➖ |
| 6 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 7 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 8 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 9 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 10 | chromium-meshery-provider | should edit design in Design Configurator |  | ❌ |
| 11 | chromium-meshery-provider | displays published design card correctly |  | ❌ |
| 12 | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 13 | chromium-meshery-provider | Verify Performance Analysis Details |  | ❌ |
| 14 | chromium-meshery-provider | Test if Profile button is displayed |  | ❌ |
| 15 | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 16 | chromium-meshery-provider | imports design via File |  | ❌ |
| 17 | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ❌ |
| 18 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 19 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 20 | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ❌ |
| 21 | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 22 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 23 | chromium-meshery-provider | deletes a published design from the list |  | ❌ |
| 24 | chromium-meshery-provider | Add performance profile with load generator fortio |  | ❌ |
| 25 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 26 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 27 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 28 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 29 | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 30 | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 31 | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 32 | chromium-local-provider | should verify Design Configurator page elements |  | ❌ |
| 33 | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 34 | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 35 | chromium-local-provider | displays published design card correctly |  | ❌ |
| 36 | chromium-local-provider | should edit design in Design Configurator |  | ❌ |
| 37 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 38 | chromium-local-provider | Create a Model |  | ❌ |
| 39 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 40 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 41 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 42 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 43 | chromium-local-provider | displays public design card correctly |  | ❌ |
| 44 | chromium-local-provider | should identify relationships for All Relationships | relationship | ❌ |
| 45 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 46 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 47 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 48 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 49 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 50 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 51 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 52 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 53 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 54 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 55 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 56 | chromium-local-provider | imports design via File |  | ❌ |
| 57 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 58 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 59 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |

</div>
</details>




**🔗 Relationship Tests**

<details>
    <summary>[Show/Hide] Relationship Test Details (18 tests)</summary>
    <div markdown="1">

| Kind | Type | SubType | From | To | Model | Design Name | Status |
| :---: | :---: | :---: | :---: | :---: | :---: | :--- | :---: |
| edge | binding | permission | ClusterRole | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | binding | permission | Role | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | non-binding | network | Service | Deployment | kubernetes | service-to-deployment-network | ✅ |
| edge | non-binding | network | Service | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| edge | non-binding | reference | ClusterRoleBinding | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | deployment-configmap-reference-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | Understanding Relationships | ✅ |
| hierarchical | parent | alias | Container | Pod | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | hierarchical-parent-namespace-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | pv-pvc-edge-non-binding-reference-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | Understanding Relationships | ✅ |
| hierarchical | sibling | matchlabels | ClusterRole | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Deployment | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Service | Service | kubernetes | meshery-design-fixture.json | ✅ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->