### END-TO-END TESTS

- Testing started at: September 18th 2025, 11:50:24 pm

**📦 Test Result Summary**

- ✅ 86 passed
- ❌ 1 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 51 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->