### END-TO-END TESTS

- Testing started at: August 18th 2025, 9:50:40 pm

**📦 Test Result Summary**

- ✅ 40 passed
- ❌ 24 failed
- ⚠️ 1 flaked
- ⏩ 7 skipped

⌛ _Duration: 10 minutes and 25 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | Verify that UI components are displayed |  | ⚠️ |
| 2 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 3 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-local-provider | Logout from current user session |  | ❌ |
| 7 | chromium-local-provider | Create a Model |  | ❌ |
| 8 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 9 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 10 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 11 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 12 | chromium-local-provider | Common UI elements |  | ❌ |
| 13 | chromium-meshery-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 14 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 15 | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 16 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 17 | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 18 | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 19 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 20 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 21 | chromium-local-provider | Test if Profile button is displayed |  | ❌ |
| 22 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 23 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 24 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 25 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 26 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 27 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 28 | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 29 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 30 | chromium-local-provider | All settings tabs |  | ❌ |
| 31 | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 32 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->