### END-TO-END TESTS

- Testing started at: October 3rd 2025, 9:12:39 pm

**📦 Test Result Summary**

- ✅ 82 passed
- ❌ 2 failed
- ⚠️ 5 flaked
- ⏩ 3 skipped

⌛ _Duration: 9 minutes and 14 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | should verify Design Configurator page elements |  | ⚠️ |
| 2 | chromium-meshery-provider | Verify Performance Analysis Details |  | ⚠️ |
| 3 | chromium-meshery-provider | displays published design card correctly |  | ⚠️ |
| 4 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 10 | chromium-meshery-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->