### END-TO-END TESTS

- Testing started at: October 12th 2025, 1:18:39 pm

**📦 Test Result Summary**

- ✅ 87 passed
- ❌ 1 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 3 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 3 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->