### END-TO-END TESTS

- Testing started at: June 25th 2025, 3:46:54 pm

**📦 Test Result Summary**

- ✅ 78 passed
- ❌ 1 failed
- ⚠️ 2 flaked
- ⏩ 2 skipped

⌛ _Duration: 6 minutes and 41 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->