### END-TO-END TESTS

- Testing started at: September 4th 2025, 5:10:40 pm

**📦 Test Result Summary**

- ✅ 71 passed
- ❌ 13 failed
- ⚠️ 5 flaked
- ⏩ 6 skipped

⌛ _Duration: 10 minutes and 9 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Verify Kanvas Details |  | ⚠️ |
| 2 | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ⚠️ |
| 3 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 4 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 5 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 6 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 7 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 8 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 9 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 10 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 11 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 12 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 13 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 14 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 15 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 16 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 17 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 18 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 19 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 20 | chromium-local-provider | Create a Model |  | ⚠️ |
| 21 | chromium-local-provider | Import a Model via File Import |  | ❌ |
| 22 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 23 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 24 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->