### END-TO-END TESTS

- Testing started at: July 2nd 2025, 5:27:32 pm

**📦 Test Result Summary**

- ✅ 72 passed
- ❌ 1 failed
- ⚠️ 6 flaked
- ⏩ 0 skipped

⌛ _Duration: 7 minutes and 24 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 3 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 4 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->