### END-TO-END TESTS

- Testing started at: September 12th 2025, 8:03:09 pm

**📦 Test Result Summary**

- ✅ 84 passed
- ❌ 0 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 52 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 2 | chromium-local-provider | displays published design card correctly |  | ⚠️ |
| 3 | chromium-local-provider | should edit design in Design Configurator |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->