### END-TO-END TESTS

- Testing started at: October 6th 2025, 6:14:28 am

**📦 Test Result Summary**

- ✅ 85 passed
- ❌ 1 failed
- ⚠️ 2 flaked
- ⏩ 2 skipped

⌛ _Duration: 7 minutes and 50 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-local-provider | displays published design card correctly |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->