### END-TO-END TESTS

- Testing started at: September 4th 2025, 5:05:13 pm

**📦 Test Result Summary**

- ✅ 61 passed
- ❌ 18 failed
- ⚠️ 5 flaked
- ⏩ 6 skipped

⌛ _Duration: 18 minutes and 40 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | setup | authenticate as Meshery provider |  | ⚠️ |
| 2 | chromium-meshery-provider | Verify Performance Analysis Details |  | ❌ |
| 3 | chromium-meshery-provider | should edit design in Design Configurator |  | ⚠️ |
| 4 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ⚠️ |
| 10 | chromium-meshery-provider | imports design via URL |  | ⚠️ |
| 11 | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ❌ |
| 12 | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 13 | chromium-meshery-provider | deletes a published design from the list |  | ❌ |
| 14 | chromium-meshery-provider | Create a Model |  | ⚠️ |
| 15 | chromium-meshery-provider | Import a Model via File Import |  | ❌ |
| 16 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 17 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 18 | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 19 | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 20 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 21 | chromium-meshery-provider | Add performance profile with load generator fortio |  | ❌ |
| 22 | chromium-meshery-provider | Aggregation Charts are displayed |  | ❌ |
| 23 | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 24 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 25 | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 26 | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 27 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 28 | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 29 | chromium-meshery-provider | Delete a performance profile with load generator fortio |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->