### END-TO-END TESTS

- Testing started at: December 5th 2025, 6:23:47 pm

**📦 Test Result Summary**

- ✅ 0 passed
- ❌ 2 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 0 minutes and 3 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | setup | authenticate as Meshery provider |  | ❌ |
| 2 | setup | authenticate as None provider |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->