### END-TO-END TESTS

- Testing started at: September 23rd 2025, 12:15:43 pm

**📦 Test Result Summary**

- ✅ 86 passed
- ❌ 0 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 7 minutes and 52 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | imports design via File |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->