### END-TO-END TESTS

- Testing started at: June 13th 2025, 1:50:46 pm

**📦 Test Result Summary**

- ✅ 62 passed
- ❌ 9 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 22 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 5 | chromium-meshery-provider | All settings tabs |  | ❌ |
| 6 | chromium-meshery-provider | Import a Model via CSV Import |  | ❌ |
| 7 | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 8 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 9 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 10 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 11 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 12 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 13 | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 14 | chromium-local-provider | All settings tabs |  | ❌ |
| 15 | chromium-meshery-provider | Info icons on settings page |  | ❌ |
| 16 | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 17 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 18 | chromium-local-provider | Info icons on settings page |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->