### END-TO-END TESTS

- Testing started at: November 20th 2025, 6:00:37 pm

**📦 Test Result Summary**

- ✅ 57 passed
- ❌ 12 failed
- ⚠️ 14 flaked
- ⏩ 7 skipped

⌛ _Duration: 10 minutes and 48 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | should verify Design Configurator page elements |  | ⚠️ |
| 2 | chromium-meshery-provider | Logout from current user session |  | ⚠️ |
| 3 | chromium-meshery-provider | renders design page UI |  | ❌ |
| 4 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | chromium-meshery-provider | Add performance profile with load generator fortio |  | ❌ |
| 10 | chromium-meshery-provider | should edit design in Design Configurator |  | ⚠️ |
| 11 | chromium-meshery-provider | Common UI elements |  | ⚠️ |
| 12 | chromium-meshery-provider | imports design via File |  | ⚠️ |
| 13 | chromium-meshery-provider | Aggregation Charts are displayed |  | ❌ |
| 14 | chromium-meshery-provider | Grafana elements on metrics tab |  | ⚠️ |
| 15 | chromium-meshery-provider | Delete a performance profile with load generator fortio |  | ⚠️ |
| 16 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ⚠️ |
| 17 | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ⚠️ |
| 18 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 19 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 20 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 21 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 22 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 23 | chromium-meshery-provider | deletes a published design from the list |  | ❌ |
| 24 | chromium-local-provider | deletes a published design from the list |  | ⚠️ |
| 25 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 26 | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 27 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 28 | chromium-local-provider | Test if Profile button is displayed |  | ⚠️ |
| 29 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 30 | chromium-local-provider | Create a Model |  | ⚠️ |
| 31 | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ⚠️ |
| 32 | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 33 | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->