### END-TO-END TESTS

- Testing started at: December 31st 2025, 12:35:03 pm

**📦 Test Result Summary**

- ✅ 0 passed
- ❌ 2 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 0 minutes and 1 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | None | local-setup | authenticate as None provider |  | ❌ |
| 2 | None | remote-setup | authenticate as Meshery provider |  | ❌ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


&lt;details&gt;
&lt;summary&gt;❌ authenticate as None provider (None - local-setup)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
Error: browserType.launch: Executable doesn&#39;t exist at /home/runner/.cache/ms-playwright/chromium_headless_shell-1200/chrome-headless-shell-linux64/chrome-headless-shell
╔═════════════════════════════════════════════════════════════════════════╗
║ Looks like Playwright Test or Playwright was just installed or updated. ║
║ Please run the following command to download new browsers:              ║
║                                                                         ║
║     npx playwright install                                              ║
║                                                                         ║
║ &lt;3 Playwright Team                                                      ║
╚═════════════════════════════════════════════════════════════════════════╝
```



&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ authenticate as Meshery provider (None - remote-setup)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
Error: browserType.launch: Executable doesn&#39;t exist at /home/runner/.cache/ms-playwright/chromium_headless_shell-1200/chrome-headless-shell-linux64/chrome-headless-shell
╔═════════════════════════════════════════════════════════════════════════╗
║ Looks like Playwright Test or Playwright was just installed or updated. ║
║ Please run the following command to download new browsers:              ║
║                                                                         ║
║     npx playwright install                                              ║
║                                                                         ║
║ &lt;3 Playwright Team                                                      ║
╚═════════════════════════════════════════════════════════════════════════╝
```



&lt;/details&gt;






<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->