### END-TO-END TESTS

- Testing started at: June 25th 2025, 11:51:20 pm

**📦 Test Result Summary**

- ✅ 76 passed
- ❌ 0 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 5 minutes and 50 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->