### END-TO-END TESTS

- Testing started at: December 31st 2025, 9:23:14 pm

**📦 Test Result Summary**

- ✅ 86 passed
- ❌ 10 failed
- ⚠️ 0 flaked
- ⏩ 10 skipped

⌛ _Duration: 8 minutes and 10 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | Meshery | chromium-meshery-provider | Action buttons on adapters tab |  | ✅ |
| 2 | Meshery | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 3 | Meshery | chromium-meshery-provider | Add performance profile with load generator fortio |  | ❌ |
| 4 | Meshery | chromium-meshery-provider | Aggregation Charts are displayed |  | ✅ |
| 5 | Meshery | chromium-meshery-provider | All settings tabs |  | ✅ |
| 6 | Meshery | chromium-meshery-provider | Common UI elements |  | ✅ |
| 7 | Meshery | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ✅ |
| 8 | Meshery | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 9 | Meshery | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 10 | Meshery | chromium-meshery-provider | Create a Model |  | ✅ |
| 11 | Meshery | chromium-meshery-provider | Delete a performance profile with load generator fortio |  | ✅ |
| 12 | Meshery | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 13 | Meshery | chromium-meshery-provider | deletes a published design from the list |  | ✅ |
| 14 | Meshery | chromium-meshery-provider | deploys a published design to a connected cluster |  | ✅ |
| 15 | Meshery | chromium-meshery-provider | displays public design card correctly |  | ✅ |
| 16 | Meshery | chromium-meshery-provider | displays published design card correctly |  | ✅ |
| 17 | Meshery | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ✅ |
| 18 | Meshery | chromium-meshery-provider | Grafana elements on metrics tab |  | ✅ |
| 19 | Meshery | chromium-meshery-provider | Import a Model via CSV Import |  | ✅ |
| 20 | Meshery | chromium-meshery-provider | Import a Model via File Import |  | ✅ |
| 21 | Meshery | chromium-meshery-provider | Import a Model via Url Import |  | ✅ |
| 22 | Meshery | chromium-meshery-provider | imports design via File |  | ❌ |
| 23 | Meshery | chromium-meshery-provider | imports design via URL |  | ✅ |
| 24 | Meshery | chromium-meshery-provider | Logout from current user session |  | ✅ |
| 25 | Meshery | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 26 | Meshery | chromium-meshery-provider | renders design page UI |  | ✅ |
| 27 | Meshery | chromium-meshery-provider | Search a Model and Export it |  | ✅ |
| 28 | Meshery | chromium-meshery-provider | should edit design in Design Configurator |  | ✅ |
| 29 | Meshery | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ❌ |
| 30 | Meshery | chromium-meshery-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 31 | Meshery | chromium-meshery-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 32 | Meshery | chromium-meshery-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 33 | Meshery | chromium-meshery-provider | should identify relationships for meshery-design | relationship | ✅ |
| 34 | Meshery | chromium-meshery-provider | should identify relationships for Namespace-Namespace-Deny-Relationship-Test | relationship | ❌ |
| 35 | Meshery | chromium-meshery-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 36 | Meshery | chromium-meshery-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 37 | Meshery | chromium-meshery-provider | should verify Design Configurator page elements |  | ✅ |
| 38 | Meshery | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 39 | Meshery | chromium-meshery-provider | Test if Notification button is displayed |  | ✅ |
| 40 | Meshery | chromium-meshery-provider | Test if Profile button is displayed |  | ✅ |
| 41 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 42 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 43 | Meshery | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 44 | Meshery | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 45 | Meshery | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 46 | Meshery | chromium-meshery-provider | Verify Kanvas Details |  | ✅ |
| 47 | Meshery | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid |  | ✅ |
| 48 | Meshery | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 49 | Meshery | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 50 | Meshery | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ✅ |
| 51 | Meshery | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 52 | Meshery | chromium-meshery-provider | Verify Performance Analysis Details |  | ✅ |
| 53 | Meshery | chromium-meshery-provider | Verify that UI components are displayed |  | ✅ |
| 54 | Meshery | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ✅ |
| 55 | None | chromium-local-provider | Action buttons on adapters tab |  | ✅ |
| 56 | None | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ✅ |
| 57 | None | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 58 | None | chromium-local-provider | Aggregation Charts are displayed |  | ✅ |
| 59 | None | chromium-local-provider | All settings tabs |  | ✅ |
| 60 | None | chromium-local-provider | Common UI elements |  | ✅ |
| 61 | None | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ✅ |
| 62 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 63 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 64 | None | chromium-local-provider | Create a Model |  | ✅ |
| 65 | None | chromium-local-provider | Delete a performance profile with load generator fortio |  | ✅ |
| 66 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 67 | None | chromium-local-provider | deletes a published design from the list |  | ✅ |
| 68 | None | chromium-local-provider | deploys a published design to a connected cluster |  | ✅ |
| 69 | None | chromium-local-provider | displays public design card correctly |  | ➖ |
| 70 | None | chromium-local-provider | displays published design card correctly |  | ✅ |
| 71 | None | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ✅ |
| 72 | None | chromium-local-provider | Grafana elements on metrics tab |  | ✅ |
| 73 | None | chromium-local-provider | Import a Model via CSV Import |  | ✅ |
| 74 | None | chromium-local-provider | Import a Model via File Import |  | ✅ |
| 75 | None | chromium-local-provider | Import a Model via Url Import |  | ✅ |
| 76 | None | chromium-local-provider | imports design via File |  | ❌ |
| 77 | None | chromium-local-provider | imports design via URL |  | ✅ |
| 78 | None | chromium-local-provider | Logout from current user session |  | ✅ |
| 79 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 80 | None | chromium-local-provider | renders design page UI |  | ✅ |
| 81 | None | chromium-local-provider | Search a Model and Export it |  | ✅ |
| 82 | None | chromium-local-provider | should edit design in Design Configurator |  | ✅ |
| 83 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ❌ |
| 84 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 85 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 86 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 87 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ✅ |
| 88 | None | chromium-local-provider | should identify relationships for Namespace-Namespace-Deny-Relationship-Test | relationship | ❌ |
| 89 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 90 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 91 | None | chromium-local-provider | should verify Design Configurator page elements |  | ✅ |
| 92 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 93 | None | chromium-local-provider | Test if Notification button is displayed |  | ✅ |
| 94 | None | chromium-local-provider | Test if Profile button is displayed |  | ✅ |
| 95 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 96 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 97 | None | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 98 | None | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 99 | None | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 100 | None | chromium-local-provider | Verify Kanvas Details |  | ✅ |
| 101 | None | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ✅ |
| 102 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 103 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 104 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ✅ |
| 105 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 106 | None | chromium-local-provider | Verify Performance Analysis Details |  | ✅ |
| 107 | None | chromium-local-provider | Verify that UI components are displayed |  | ✅ |
| 108 | None | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ✅ |
| 109 | None | local-setup | authenticate as None provider |  | ✅ |
| 110 | None | remote-setup | authenticate as Meshery provider |  | ✅ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


&lt;details&gt;
&lt;summary&gt;❌ Add a cluster connection by uploading kubeconfig file (Meshery - chromium-meshery-provider)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ imports design via File (Meshery - chromium-meshery-provider)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ should identify relationships for All Relationships (Meshery - chromium-meshery-provider)&lt;/summary&gt;

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoBe[2m([22m[32mexpected[39m[2m) // Object.is equality[22m

Expected: [32m0[39m
Received: [31m2[39m
```

**Code Snippet:**
```
[0m [90m 120 |[39m
 [90m 121 |[39m       [90m// assert number of relationships[39m
[31m[1m&gt;[22m[39m[90m 122 |[39m       expect(failures)[33m.[39mtoBe([35m0[39m)[33m;[39m
 [90m     |[39m                        [31m[1m^[22m[39m
 [90m 123 |[39m     })[33m;[39m
 [90m 124 |[39m   }
 [90m 125 |[39m })[33m;[39m[0m
```

&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ should identify relationships for Namespace-Namespace-Deny-Relationship-Test (Meshery - chromium-meshery-provider)&lt;/summary&gt;

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: &quot;undefined&quot; is not valid JSON
```

**Code Snippet:**
```
[0m [90m 45 |[39m       )[33m;[39m
 [90m 46 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m&gt;[22m[39m[90m 47 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 48 |[39m
 [90m 49 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 50 |[39m[0m
```

&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ Add performance profile with load generator fortio (Meshery - chromium-meshery-provider)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ Transition to disconnected state and then back to connected state (None - chromium-local-provider)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ imports design via File (None - chromium-local-provider)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ should identify relationships for All Relationships (None - chromium-local-provider)&lt;/summary&gt;

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoBe[2m([22m[32mexpected[39m[2m) // Object.is equality[22m

Expected: [32m0[39m
Received: [31m2[39m
```

**Code Snippet:**
```
[0m [90m 120 |[39m
 [90m 121 |[39m       [90m// assert number of relationships[39m
[31m[1m&gt;[22m[39m[90m 122 |[39m       expect(failures)[33m.[39mtoBe([35m0[39m)[33m;[39m
 [90m     |[39m                        [31m[1m^[22m[39m
 [90m 123 |[39m     })[33m;[39m
 [90m 124 |[39m   }
 [90m 125 |[39m })[33m;[39m[0m
```

&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ should identify relationships for Namespace-Namespace-Deny-Relationship-Test (None - chromium-local-provider)&lt;/summary&gt;

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: &quot;undefined&quot; is not valid JSON
```

**Code Snippet:**
```
[0m [90m 45 |[39m       )[33m;[39m
 [90m 46 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m&gt;[22m[39m[90m 47 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 48 |[39m
 [90m 49 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 50 |[39m[0m
```

&lt;/details&gt;

&lt;details&gt;
&lt;summary&gt;❌ Add performance profile with load generator fortio (None - chromium-local-provider)&lt;/summary&gt;

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



&lt;/details&gt;






**🔗 Relationship Tests**

<details>
    <summary>[Show/Hide] Relationship Test Details (18 tests)</summary>
    <div markdown="1">

| Kind | Type | SubType | From | To | Model | Design Name | Status |
| :---: | :---: | :---: | :---: | :---: | :---: | :--- | :---: |
| edge | binding | permission | ClusterRole | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | binding | permission | Role | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | non-binding | network | Service | Deployment | kubernetes | service-to-deployment-network | ✅ |
| edge | non-binding | network | Service | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| edge | non-binding | reference | ClusterRoleBinding | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | deployment-configmap-reference-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | Understanding Relationships | ✅ |
| hierarchical | parent | alias | Container | Pod | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | hierarchical-parent-namespace-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | pv-pvc-edge-non-binding-reference-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | Understanding Relationships | ✅ |
| hierarchical | sibling | matchlabels | ClusterRole | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Deployment | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Service | Service | kubernetes | meshery-design-fixture.json | ✅ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->