### END-TO-END TESTS

- Testing started at: August 21st 2025, 7:03:31 pm

**📦 Test Result Summary**

- ✅ 88 passed
- ❌ 1 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 6 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 2 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |
| 3 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->