### END-TO-END TESTS

- Testing started at: November 5th 2025, 3:39:06 am

**📦 Test Result Summary**

- ✅ 73 passed
- ❌ 3 failed
- ⚠️ 0 flaked
- ⏩ 12 skipped

⌛ _Duration: 7 minutes and 41 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-meshery-provider | Create a Model |  | ❌ |
| 7 | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 8 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 9 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 10 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 11 | chromium-local-provider | Create a Model |  | ❌ |
| 12 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 13 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 14 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 15 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->