### END-TO-END TESTS

- Testing started at: May 27th 2025, 1:05:19 pm

**📦 Test Result Summary**

- ✅ 58 passed
- ❌ 4 failed
- ⚠️ 0 flaked
- ⏩ 8 skipped

⌛ _Duration: 4 minutes and 34 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Verify that UI components are displayed |  | ❌ |
| 2 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 4 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 5 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 7 | chromium-meshery-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 8 | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 9 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 10 | chromium-meshery-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 11 | chromium-meshery-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 12 | chromium-local-provider | Verify that UI components are displayed |  | ❌ |
| 13 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 14 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 15 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 16 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 17 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 18 | chromium-local-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 19 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 20 | chromium-local-provider | Edit the configuration of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 21 | chromium-local-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 22 | chromium-local-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->