### END-TO-END TESTS

- Testing started at: November 18th 2025, 2:54:46 am

**📦 Test Result Summary**

- ✅ 87 passed
- ❌ 3 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 10 minutes and 8 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Test if Profile button is displayed |  | ❌ |
| 2 | chromium-meshery-provider | Logout from current user session |  | ❌ |
| 3 | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ⚠️ |
| 4 | chromium-meshery-provider | imports design via File |  | ❌ |
| 5 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 6 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->