### END-TO-END TESTS

- Testing started at: September 16th 2025, 11:51:41 pm

**📦 Test Result Summary**

- ✅ 81 passed
- ❌ 10 failed
- ⚠️ 3 flaked
- ⏩ 1 skipped

⌛ _Duration: 9 minutes and 46 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ⚠️ |
| 3 | chromium-local-provider | displays published design card correctly |  | ⚠️ |
| 4 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 5 | chromium-local-provider | Transition to not found state and then back to connected state |  | ❌ |
| 6 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 7 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 8 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 9 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 10 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 11 | chromium-local-provider | deletes a published design from the list |  | ❌ |
| 12 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 13 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 14 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->