### END-TO-END TESTS

- Testing started at: October 7th 2025, 11:50:08 am

**📦 Test Result Summary**

- ✅ 90 passed
- ❌ 0 failed
- ⚠️ 4 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 58 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 3 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 4 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->