### END-TO-END TESTS

- Testing started at: October 5th 2025, 1:50:21 pm

**📦 Test Result Summary**

- ✅ 86 passed
- ❌ 2 failed
- ⚠️ 5 flaked
- ⏩ 2 skipped

⌛ _Duration: 9 minutes and 31 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | imports design via URL |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-meshery-provider | Add performance profile with load generator fortio |  | ⚠️ |
| 7 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 8 | chromium-local-provider | imports design via File |  | ⚠️ |
| 9 | chromium-local-provider | Delete Kubernetes cluster connections |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->