### END-TO-END TESTS

- Testing started at: October 1st 2025, 11:49:52 pm

**📦 Test Result Summary**

- ✅ 89 passed
- ❌ 1 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 29 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 2 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->