### END-TO-END TESTS

- Testing started at: July 1st 2025, 9:33:27 pm

**📦 Test Result Summary**

- ✅ 69 passed
- ❌ 1 failed
- ⚠️ 5 flaked
- ⏩ 4 skipped

⌛ _Duration: 7 minutes and 11 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ⚠️ |
| 7 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 8 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->