### END-TO-END TESTS

- Testing started at: May 7th 2025, 3:46:05 am

**📦 Test Result Summary**

- ✅ 67 passed
- ❌ 2 failed
- ⚠️ 4 flaked
- ⏩ 0 skipped

⌛ _Duration: 6 minutes and 31 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 5 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 7 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 8 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 9 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 10 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 11 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 12 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 13 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->