### END-TO-END TESTS

- Testing started at: September 24th 2025, 4:10:17 am

**📦 Test Result Summary**

- ✅ 84 passed
- ❌ 0 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 10 minutes and 38 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | imports design via File |  | ⚠️ |
| 2 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ⚠️ |
| 3 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->