### END-TO-END TESTS

- Testing started at: August 24th 2025, 3:39:48 pm

**📦 Test Result Summary**

- ✅ 87 passed
- ❌ 0 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 6 minutes and 42 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->