### END-TO-END TESTS

- Testing started at: May 23rd 2025, 1:08:05 am

**📦 Test Result Summary**

- ✅ 71 passed
- ❌ 0 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 5 minutes and 24 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 5 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 6 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 7 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 8 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 9 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->