### END-TO-END TESTS

- Testing started at: September 22nd 2025, 9:16:36 am

**📦 Test Result Summary**

- ✅ 88 passed
- ❌ 1 failed
- ⚠️ 4 flaked
- ⏩ 0 skipped

⌛ _Duration: 11 minutes and 7 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ⚠️ |
| 2 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 3 | chromium-meshery-provider | Import a Model via Url Import |  | ⚠️ |
| 4 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 5 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->