### END-TO-END TESTS

- Testing started at: June 1st 2025, 8:25:55 am

**📦 Test Result Summary**

- ✅ 63 passed
- ❌ 2 failed
- ⚠️ 2 flaked
- ⏩ 6 skipped

⌛ _Duration: 4 minutes and 44 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Search a Model and Export it |  | ❌ |
| 2 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 3 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 9 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 10 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 11 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 12 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 13 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 14 | chromium-local-provider | Search a Model and Export it |  | ❌ |
| 15 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 16 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 17 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->