### END-TO-END TESTS

- Testing started at: April 24th 2025, 11:24:26 am

**📦 Test Result Summary**

- ✅ 8 passed
- ❌ 36 failed
- ⚠️ 9 flaked
- ⏩ 8 skipped

⌛ _Duration: 6 minutes and 0 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Test if Profile button is displayed |  | ❌ |
| 2 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 4 | chromium-meshery-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 5 | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 6 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 7 | chromium-meshery-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 8 | chromium-meshery-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 9 | chromium-meshery-provider | Aggregation Charts are displayed |  | ❌ |
| 10 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 11 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; | unstable | ⚠️ |
| 12 | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; | unstable | ⚠️ |
| 13 | chromium-local-provider | Verify that UI components are displayed |  | ❌ |
| 14 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 15 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 16 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 17 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 18 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 19 | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 20 | chromium-local-provider | Verify Performance Analysis Details |  | ❌ |
| 21 | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 22 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 23 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 24 | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 25 | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 26 | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 27 | chromium-local-provider | Test if Settings button is displayed |  | ❌ |
| 28 | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 29 | chromium-local-provider | Test if Profile button is displayed |  | ❌ |
| 30 | chromium-local-provider | Logout from current user session |  | ❌ |
| 31 | chromium-local-provider | Common UI elements |  | ❌ |
| 32 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 33 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 34 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 35 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 36 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 37 | chromium-meshery-provider | Common UI elements |  | ❌ |
| 38 | chromium-meshery-provider | Verify Performance Analysis Details |  | ❌ |
| 39 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 40 | chromium-meshery-provider | Verify Kanvas Details |  | ❌ |
| 41 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 42 | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 43 | chromium-local-provider | Add performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ❌ |
| 44 | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 45 | chromium-local-provider | Edit the configuration of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 46 | chromium-local-provider | Compare test of a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 47 | chromium-local-provider | Delete a performance profile with load generator &quot;fortio&quot; and service mesh &quot;None&quot; |  | ➖ |
| 48 | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ❌ |
| 49 | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 50 | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 51 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 52 | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 53 | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; | unstable | ⚠️ |
| 54 | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; | unstable | ⚠️ |
| 55 | chromium-local-provider | All settings tabs |  | ❌ |
| 56 | chromium-meshery-provider | All settings tabs |  | ❌ |
| 57 | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 58 | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 59 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 60 | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 61 | chromium-local-provider | Info icons on settings page |  | ❌ |
| 62 | chromium-meshery-provider | Info icons on settings page |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->