### END-TO-END TESTS

- Testing started at: December 23rd 2025, 11:49:11 pm

**📦 Test Result Summary**

- ✅ 1 passed
- ❌ 1 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 1 minutes and 13 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | setup | authenticate as Meshery provider |  | ❌ |

</div>
</details>




<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->