### END-TO-END TESTS

- Testing started at: December 2nd 2025, 11:50:27 pm

**📦 Test Result Summary**

- ✅ 86 passed
- ❌ 3 failed
- ⚠️ 0 flaked
- ⏩ 6 skipped

⌛ _Duration: 8 minutes and 16 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 5 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 6 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 7 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 8 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | chromium-meshery-provider | Import a Model via CSV Import |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->