### END-TO-END TESTS

- Testing started at: July 23rd 2025, 8:40:58 am

**📦 Test Result Summary**

- ✅ 70 passed
- ❌ 2 failed
- ⚠️ 8 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 10 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 2 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 3 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 4 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 5 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 6 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->