### END-TO-END TESTS

- Testing started at: January 5th 2026, 7:41:27 pm

**📦 Test Result Summary**

- ✅ 2 passed
- ❌ 84 failed
- ⚠️ 0 flaked
- ⏩ 20 skipped

⌛ _Duration: 5 minutes and 5 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | Meshery | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 2 | Meshery | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ➖ |
| 3 | Meshery | chromium-meshery-provider | Add performance profile with load generator fortio |  | ❌ |
| 4 | Meshery | chromium-meshery-provider | Aggregation Charts are displayed |  | ❌ |
| 5 | Meshery | chromium-meshery-provider | All settings tabs |  | ❌ |
| 6 | Meshery | chromium-meshery-provider | Common UI elements |  | ❌ |
| 7 | Meshery | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 8 | Meshery | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 9 | Meshery | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 10 | Meshery | chromium-meshery-provider | Create a Model |  | ❌ |
| 11 | Meshery | chromium-meshery-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 12 | Meshery | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 13 | Meshery | chromium-meshery-provider | deletes a published design from the list |  | ❌ |
| 14 | Meshery | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 15 | Meshery | chromium-meshery-provider | displays public design card correctly |  | ❌ |
| 16 | Meshery | chromium-meshery-provider | displays published design card correctly |  | ❌ |
| 17 | Meshery | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 18 | Meshery | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 19 | Meshery | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 20 | Meshery | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 21 | Meshery | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 22 | Meshery | chromium-meshery-provider | imports design via File |  | ❌ |
| 23 | Meshery | chromium-meshery-provider | imports design via URL |  | ❌ |
| 24 | Meshery | chromium-meshery-provider | Logout from current user session |  | ❌ |
| 25 | Meshery | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 26 | Meshery | chromium-meshery-provider | renders design page UI |  | ❌ |
| 27 | Meshery | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 28 | Meshery | chromium-meshery-provider | should edit design in Design Configurator |  | ❌ |
| 29 | Meshery | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ❌ |
| 30 | Meshery | chromium-meshery-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ❌ |
| 31 | Meshery | chromium-meshery-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ❌ |
| 32 | Meshery | chromium-meshery-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ❌ |
| 33 | Meshery | chromium-meshery-provider | should identify relationships for meshery-design | relationship | ❌ |
| 34 | Meshery | chromium-meshery-provider | should identify relationships for Namespace-Namespace-Deny-Relationship-Test | relationship | ❌ |
| 35 | Meshery | chromium-meshery-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ❌ |
| 36 | Meshery | chromium-meshery-provider | should identify relationships for Service-To-Deployment-Network | relationship | ❌ |
| 37 | Meshery | chromium-meshery-provider | should verify Design Configurator page elements |  | ❌ |
| 38 | Meshery | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 39 | Meshery | chromium-meshery-provider | Test if Notification button is displayed |  | ❌ |
| 40 | Meshery | chromium-meshery-provider | Test if Profile button is displayed |  | ❌ |
| 41 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 42 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 43 | Meshery | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 44 | Meshery | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 45 | Meshery | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 46 | Meshery | chromium-meshery-provider | Verify Kanvas Details |  | ❌ |
| 47 | Meshery | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 48 | Meshery | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 49 | Meshery | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 50 | Meshery | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ❌ |
| 51 | Meshery | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 52 | Meshery | chromium-meshery-provider | Verify Performance Analysis Details |  | ❌ |
| 53 | Meshery | chromium-meshery-provider | Verify that UI components are displayed |  | ❌ |
| 54 | Meshery | chromium-meshery-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 55 | None | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 56 | None | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ➖ |
| 57 | None | chromium-local-provider | Add performance profile with load generator fortio |  | ❌ |
| 58 | None | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 59 | None | chromium-local-provider | All settings tabs |  | ❌ |
| 60 | None | chromium-local-provider | Common UI elements |  | ❌ |
| 61 | None | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 62 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 63 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 64 | None | chromium-local-provider | Create a Model |  | ❌ |
| 65 | None | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 66 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 67 | None | chromium-local-provider | deletes a published design from the list |  | ❌ |
| 68 | None | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 69 | None | chromium-local-provider | displays public design card correctly |  | ❌ |
| 70 | None | chromium-local-provider | displays published design card correctly |  | ❌ |
| 71 | None | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 72 | None | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 73 | None | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 74 | None | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 75 | None | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 76 | None | chromium-local-provider | imports design via File |  | ❌ |
| 77 | None | chromium-local-provider | imports design via URL |  | ❌ |
| 78 | None | chromium-local-provider | Logout from current user session |  | ❌ |
| 79 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 80 | None | chromium-local-provider | renders design page UI |  | ❌ |
| 81 | None | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 82 | None | chromium-local-provider | should edit design in Design Configurator |  | ❌ |
| 83 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ❌ |
| 84 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ❌ |
| 85 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ❌ |
| 86 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ❌ |
| 87 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ❌ |
| 88 | None | chromium-local-provider | should identify relationships for Namespace-Namespace-Deny-Relationship-Test | relationship | ❌ |
| 89 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ❌ |
| 90 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ❌ |
| 91 | None | chromium-local-provider | should verify Design Configurator page elements |  | ❌ |
| 92 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 93 | None | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 94 | None | chromium-local-provider | Test if Profile button is displayed |  | ❌ |
| 95 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 96 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 97 | None | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 98 | None | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 99 | None | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 100 | None | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 101 | None | chromium-local-provider | Verify Kanvas Snapshot using data-testid |  | ❌ |
| 102 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 103 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 104 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 105 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 106 | None | chromium-local-provider | Verify Performance Analysis Details |  | ❌ |
| 107 | None | chromium-local-provider | Verify that UI components are displayed |  | ❌ |
| 108 | None | chromium-local-provider | View detailed result of a performance profile (Graph Visualiser) with load generator fortio |  | ❌ |
| 109 | None | local-setup | authenticate as None provider |  | ✅ |
| 110 | None | remote-setup | authenticate as Meshery provider |  | ✅ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


<details>
<summary>❌ renders design page UI (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/designs.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 29 |[39m   [36mlet[39m designPage[33m;[39m
 [90m 30 |[39m
[31m[1m>[22m[39m[90m 31 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 32 |[39m     [36mawait[39m page[33m.[39mroute([32m'**/api/pattern/import'[39m[33m,[39m [36masync[39m (route) [33m=>[39m [36mawait[39m route[33m.[39mfulfill())[33m;[39m
 [90m 33 |[39m     designPage [33m=[39m [36mnew[39m [33mDesignPage[39m(page)[33m;[39m
 [90m 34 |[39m     [36mawait[39m designPage[33m.[39mnavigateTo()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify that UI components are displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/connections.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 38 |[39m
 [90m 39 |[39m test[33m.[39mdescribe[33m.[39mserial([32m'Connection Management Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 40 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 41 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 42 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 43 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToConnections()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Kanvas Snapshot using data-testid (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 18 |[39m [90m// Extensions Section Tests[39m
 [90m 19 |[39m test[33m.[39mdescribe([32m'Extensions Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 20 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 21 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 22 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 23 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToExtensions()[33m;[39m[0m
```

</details>

<details>
<summary>❌ should verify Design Configurator page elements (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/designConfig.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m  5 |[39m   [36mlet[39m designConfigPage[33m;[39m
 [90m  6 |[39m
[31m[1m>[22m[39m[90m  7 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m  8 |[39m     [36mawait[39m page[33m.[39mroute([32m'**/api/pattern'[39m[33m,[39m [36masync[39m (route) [33m=>[39m {
 [90m  9 |[39m       [36mawait[39m route[33m.[39mfulfill()[33m;[39m
 [90m 10 |[39m     })[33m;[39m[0m
```

</details>

<details>
<summary>❌ displays published design card correctly (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Test if Left Navigation Panel is displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Performance Analysis Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should edit design in Design Configurator (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ displays public design card correctly (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Test if Notification button is displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Kanvas Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Logout from current user session (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ imports design via File (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Test if Profile button is displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Docker Extension Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Create a Model (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Common UI elements (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ imports design via URL (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Design Embed Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Container-Hierarchical-Parent-Alias-Relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ deletes a published design from the list (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Catalog Section Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for deployment-configmap-reference-relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 4866[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ Verify Meshery Adapter for Istio Section (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ deploys a published design to a connected cluster (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Hierarchical-Parent-Namespace-Relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ Add performance profile with load generator fortio (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Aggregation Charts are displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Service-To-Deployment-Network (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ Toggle "Send Anonymous Usage Statistics" (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ View detailed result of a performance profile (Graph Visualiser) with load generator fortio (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for pv-pvc-edge-non-binding-reference-relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3642[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ Toggle "Send Anonymous Performance Results" (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Edit the configuration of a performance profile with load generator fortio and service mesh None (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for meshery-design (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50563[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ Verify that UI components are displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Compare test of a performance profile with load generator fortio (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should verify Design Configurator page elements (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for All Relationships (Meshery - chromium-meshery-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 283285[22m
[2m    - cookie: meshery-provider=Layer5; cloud.layer5.io_ref=/; session_cookie=MTc2NzY0MjA5MXxPNl9tVEhDcHhxem50NGVSa2F4UDRGOThoNV9vc3NvT21kMnFpcGNWelRISWtBOERoUHBGMjc1VUx4TzNoaDB6NE9PSFpxUnFvRDZSSzhtZXRBeTVyY2d0dW8zOUtaY1NrVzVKaWNPcnRPZE1XTG15aHhFamstQ1RkdE8tNUUyM2NuWVZZSHVHVjNwR01YOWtOSHliX3dpOVJTbHNIZTJ3ZUdmY1BueW1pUXdMNEp6Ni14ckNITXpIblNCby10eWQ0ZGVoWlR0eVhfaW1wNnI2a1dwQ3hqSmYtZUNlb0szS3FIQm5PelNlOFQxYjdRNHNCWS1ZQ09LSDh0SVptYkViQ195UHFNWnR1MnVwTWtxR0NxZVJ83Ei2T0BeHINXwg2RVbp4YewYtZY53aSSDYG1Vo2fD9Q=; token=eyJhY2Nlc3NfdG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0ltdHBaQ0k2SW5CeWFYWmhkR1U2WlRobFpqUXhZek10WW1WbFppMDBZbUl4TFRobE9EQXRNell3TlRFMk1qZGpOakl4SWl3aWRIbHdJam9pU2xkVUluMC5leUpoZFdRaU9sdGRMQ0pqYkdsbGJuUmZhV1FpT2lKdFpYTm9aWEo1TFdOc2IzVmtJaXdpWlhod0lqb3hOelkzTnpJNE5Ea3lMQ0psZUhRaU9udDlMQ0pwWVhRaU9qRTNOamMyTkRJd09URXNJbWx6Y3lJNkltaDBkSEJ6T2k4dlkyeHZkV1F1YkdGNVpYSTFMbWx2TDJoNVpISmhJaXdpYW5ScElqb2lZVE00WWpSak9UWXRaVEF4WmkwMFl6YzBMV0UwWWpZdE9UVmtZV1ppWlRZM01tTXdJaXdpYm1KbUlqb3hOelkzTmpReU1Ea3hMQ0p6WTNBaU9sc2liM0JsYm1sa0lpd2liMlptYkdsdVpTSXNJbTltWm14cGJtVmZZV05qWlhOeklsMHNJbk4xWWlJNkltUkhWbnBrUXpFeFl6SldlVkZIZUdobFYxWjVUbE0xY0dKM1BUMDZZbGRXZW1GSFZubGxVekZxWWtjNU1WcEJQVDBpZlEuQlRXUzRHaXdMWS1JN3VBUTB4RjFqNzRod25jdW5IaTNnblBDVzFwSFlzRDZVSE1GRjVmNlQ3VkxSdFV2cnlYcTAxWW5qZVdCNEhCLXdmTXdEeWZHbkhzQ25JaUxGM2pwU3A4cktaQzZ3VHRYMVFQUU4yNGJKbnkxLVlkV0x4M1gzMTNOdEtaakI4eGZ2RGtfOEt0d050RnpnMlRQdjZmaU5hdUpQSTVLeGJlTUpGRHh5Z0VINXRhU0lPR3Bkc2dLdlFwQTF4ZHNKRXFaazdpSURhd1RvVDdnVXlmYWdXcEV0emYycDFscklXRmVBajdidkh6MmNBY3B2ejB4Q2ZNX3pyOFJwNy04U1dvV1M4bGprMTlpRkJpMUNXSWF0VXgwa3pxLUV6aDBZRlNQZE1nUmpEM18wYTNRcGFaZE5pcGhKaEFUOHd6bFBRamxEYncyMW1KRWhtamlBY0t4RUpaYWw5Tkxad0g1QXJaX1pUal9RdVYtUTQtSzJwNUF5S3FiSXhvUkVJdS15RDd1YTMxWmhZaTRURENLLTU4a3NIMFZscElKTHVtZjFmUHRhOXAxMnpPeVRGaXdtaXR6NFlEUG5JdUs5bV84UHctc2xwa3JVRkd1N2tTY05JSzc3MnJUd0k4X1psVW1hbU9XbWxfbkw2SXQ0WTFFVHFWVmtManVLZGJsU0toVDZCS3NVeXpSY3B4N2p5cjA5bU9aYVhYb2JpZWh1UUZIeTg2a1Z3ZGFqaTd2M1BDazlPakRHYU5ITjc4WTI0eEVRd1hWWDExdzc0RnVjcFBEVFBpbGp6c2l6aTFoN25uZG8yVGFqM01FM0pNTEFWX3R2M0RERC1JaDl0X1R0blN6eWNpUF9aR2U5VnM3ZDNid0xQWjBOYVlSS2NkMWhxNnlhVGsiLCJ0b2tlbl90eXBlIjoiYmVhcmVyIiwicmVmcmVzaF90b2tlbiI6Im9yeV9ydF90UUtjdDdFdTF1ZkZEVk54a3hrZ1pLRVQ1dUV6YU9qN25Zak9jcjBrYk5RLnFIVVppekhmS2Z6WWtmdTI4aTRnQ2dXeTJILTJxVVJiOEVvVmp0WEFYQ0EiLCJleHBpcnkiOiIyMDI2LTAxLTA2VDE5OjQxOjMxLjcxMTgzODIyNloiLCJleHBpcmVzX2luIjo4NjQwMH0; _ga=GA1.1.2101862453.1767642095; _ga_8Q51RLT8TZ=GS2.1.s1767642094$o1$g0$t1767642095$j59$l0$h0[22m

```



</details>

<details>
<summary>❌ Delete a performance profile with load generator fortio (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Namespace-Namespace-Deny-Relationship-Test (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 45 |[39m       )[33m;[39m
 [90m 46 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 47 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 48 |[39m
 [90m 49 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 50 |[39m[0m
```

</details>

<details>
<summary>❌ should edit design in Design Configurator (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ renders design page UI (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Kanvas Snapshot using data-testid (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Test if Left Navigation Panel is displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ displays published design card correctly (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Performance Analysis Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Test if Notification button is displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ displays public design card correctly (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Kanvas Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Test if Profile button is displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ imports design via File (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Docker Extension Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Logout from current user session (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ imports design via URL (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Design Embed Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Create a Model (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ deletes a published design from the list (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Catalog Section Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Common UI elements (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ deploys a published design to a connected cluster (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Verify Meshery Adapter for Istio Section (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Container-Hierarchical-Parent-Alias-Relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ Add performance profile with load generator fortio (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for deployment-configmap-reference-relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 4866[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ View detailed result of a performance profile (Graph Visualiser) with load generator fortio (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Hierarchical-Parent-Namespace-Relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ Edit the configuration of a performance profile with load generator fortio and service mesh None (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Service-To-Deployment-Network (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ Compare test of a performance profile with load generator fortio (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for pv-pvc-edge-non-binding-reference-relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3642[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ Delete a performance profile with load generator fortio (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Aggregation Charts are displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for meshery-design (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50563[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ Toggle "Send Anonymous Usage Statistics" (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for All Relationships (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.4 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 283285[22m
[2m    - cookie: meshery-provider=None; _ga=GA1.1.335701852.1767642090; _ga_8Q51RLT8TZ=GS2.1.s1767642090$o1$g0$t1767642090$j60$l0$h0[22m

```



</details>

<details>
<summary>❌ Toggle "Send Anonymous Performance Results" (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Namespace-Namespace-Deny-Relationship-Test (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 45 |[39m       )[33m;[39m
 [90m 46 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 47 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 48 |[39m
 [90m 49 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 50 |[39m[0m
```

</details>

<details>
<summary>❌ All settings tabs (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ All settings tabs (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Action buttons on adapters tab (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Action buttons on adapters tab (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Grafana elements on metrics tab (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Grafana elements on metrics tab (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>






<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->