### END-TO-END TESTS

- Testing started at: August 12th 2025, 11:49:42 pm

**📦 Test Result Summary**

- ✅ 66 passed
- ❌ 1 failed
- ⚠️ 0 flaked
- ⏩ 4 skipped

⌛ _Duration: 5 minutes and 2 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 2 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 3 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->