### END-TO-END TESTS

- Testing started at: December 31st 2025, 12:25:55 am

**📦 Test Result Summary**

- ✅ 0 passed
- ❌ 2 failed
- ⚠️ 0 flaked
- ⏩ 0 skipped

⌛ _Duration: 0 minutes and 1 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | local-setup | authenticate as None provider |  | ❌ |
| 2 | remote-setup | authenticate as Meshery provider |  | ❌ |

</div>
</details>




<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->