### END-TO-END TESTS

- Testing started at: November 19th 2025, 6:51:14 am

**📦 Test Result Summary**

- ✅ 48 passed
- ❌ 21 failed
- ⚠️ 11 flaked
- ⏩ 11 skipped

⌛ _Duration: 13 minutes and 30 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Verify that UI components are displayed |  | ⚠️ |
| 2 | chromium-meshery-provider | Logout from current user session |  | ⚠️ |
| 3 | chromium-meshery-provider | renders design page UI |  | ⚠️ |
| 4 | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ⚠️ |
| 5 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ❌ |
| 6 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ➖ |
| 7 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 8 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 9 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 10 | chromium-meshery-provider | All settings tabs |  | ❌ |
| 11 | chromium-meshery-provider | Create a Model |  | ⚠️ |
| 12 | chromium-meshery-provider | displays published design card correctly |  | ❌ |
| 13 | chromium-meshery-provider | displays public design card correctly |  | ⚠️ |
| 14 | chromium-meshery-provider | Search a Model and Export it |  | ❌ |
| 15 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 16 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 17 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 18 | chromium-meshery-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 19 | chromium-meshery-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 20 | chromium-meshery-provider | Aggregation Charts are displayed |  | ⚠️ |
| 21 | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 22 | chromium-local-provider | displays public design card correctly |  | ⚠️ |
| 23 | chromium-local-provider | should verify Design Configurator page elements |  | ❌ |
| 24 | chromium-local-provider | should edit design in Design Configurator |  | ❌ |
| 25 | chromium-local-provider | Create a Model |  | ⚠️ |
| 26 | chromium-local-provider | Import a Model via File Import |  | ❌ |
| 27 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 28 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 29 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 30 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 31 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 32 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 33 | chromium-local-provider | imports design via URL |  | ⚠️ |
| 34 | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 35 | chromium-local-provider | All settings tabs |  | ❌ |
| 36 | chromium-local-provider | Edit the configuration of a performance profile with load generator fortio and service mesh None |  | ❌ |
| 37 | chromium-local-provider | deletes a published design from the list |  | ❌ |
| 38 | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 39 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |
| 40 | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 41 | chromium-local-provider | Compare test of a performance profile with load generator fortio |  | ❌ |
| 42 | chromium-local-provider | Delete a performance profile with load generator fortio |  | ❌ |
| 43 | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->