### END-TO-END TESTS

- Testing started at: September 18th 2025, 4:47:21 pm

**📦 Test Result Summary**

- ✅ 88 passed
- ❌ 0 failed
- ⚠️ 2 flaked
- ⏩ 0 skipped

⌛ _Duration: 8 minutes and 35 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | imports design via File |  | ⚠️ |
| 2 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->