### END-TO-END TESTS

- Testing started at: October 9th 2025, 1:29:48 am

**📦 Test Result Summary**

- ✅ 93 passed
- ❌ 0 failed
- ⚠️ 3 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 20 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ⚠️ |
| 2 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |
| 3 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->