### END-TO-END TESTS

- Testing started at: June 29th 2025, 11:49:53 pm

**📦 Test Result Summary**

- ✅ 0 passed
- ❌ 1 failed
- ⚠️ 0 flaked
- ⏩ 1 skipped

⌛ _Duration: 0 minutes and 2 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | setup | authenticate as Meshery provider |  | ❌ |
| 2 | setup | authenticate as None provider |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->