### END-TO-END TESTS

- Testing started at: August 13th 2025, 7:17:18 pm

**📦 Test Result Summary**

- ✅ 71 passed
- ❌ 0 failed
- ⚠️ 1 flaked
- ⏩ 0 skipped

⌛ _Duration: 5 minutes and 45 seconds_

**Overall Result**: 👍 All tests passed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->