### END-TO-END TESTS

- Testing started at: August 17th 2025, 5:04:30 pm

**📦 Test Result Summary**

- ✅ 69 passed
- ❌ 1 failed
- ⚠️ 1 flaked
- ⏩ 2 skipped

⌛ _Duration: 5 minutes and 5 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Add a cluster connection by uploading kubeconfig file |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->