### END-TO-END TESTS

- Testing started at: November 21st 2025, 11:49:55 pm

**📦 Test Result Summary**

- ✅ 81 passed
- ❌ 2 failed
- ⚠️ 2 flaked
- ⏩ 6 skipped

⌛ _Duration: 9 minutes and 20 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | should edit design in Design Configurator |  | ⚠️ |
| 2 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 3 | chromium-meshery-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 4 | chromium-meshery-provider | Transition to not found state and then back to connected state |  | ➖ |
| 5 | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 6 | chromium-local-provider | Transition to disconnected state and then back to connected state |  | ❌ |
| 7 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ➖ |
| 8 | chromium-local-provider | Transition to not found state and then back to connected state |  | ➖ |
| 9 | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 10 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->