### END-TO-END TESTS

- Testing started at: November 11th 2025, 11:30:22 am

**📦 Test Result Summary**

- ✅ 77 passed
- ❌ 4 failed
- ⚠️ 1 flaked
- ⏩ 8 skipped

⌛ _Duration: 9 minutes and 0 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Create a Model |  | ❌ |
| 2 | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 3 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 5 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 6 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 7 | chromium-local-provider | Transition to ignored state and then back to connected state |  | ⚠️ |
| 8 | chromium-local-provider | Create a Model |  | ❌ |
| 9 | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 10 | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 11 | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 12 | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 13 | chromium-local-provider | deploys a published design to a connected cluster |  | ❌ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->