### END-TO-END TESTS

- Testing started at: May 23rd 2025, 5:28:57 pm

**📦 Test Result Summary**

- ✅ 67 passed
- ❌ 1 failed
- ⚠️ 2 flaked
- ⏩ 3 skipped

⌛ _Duration: 5 minutes and 46 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Search a Model and Export it |  | ❌ |
| 2 | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 3 | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 4 | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 5 | chromium-meshery-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 6 | chromium-meshery-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 7 | chromium-meshery-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 8 | chromium-meshery-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |
| 9 | chromium-local-provider | Add a cluster connection by uploading kubeconfig file | unstable | ⚠️ |
| 10 | chromium-local-provider | Transition to disconnected state and then back to connected state | unstable | ⚠️ |
| 11 | chromium-local-provider | Transition to ignored state and then back to connected state | unstable | ⚠️ |
| 12 | chromium-local-provider | Transition to not found state and then back to connected state | unstable | ⚠️ |
| 13 | chromium-local-provider | Delete Kubernetes cluster connections | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->