### END-TO-END TESTS

- Testing started at: July 25th 2025, 11:49:15 pm

**📦 Test Result Summary**

- ✅ 74 passed
- ❌ 2 failed
- ⚠️ 10 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 30 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Transition to disconnected state and then back to connected state |  | ⚠️ |
| 2 | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 3 | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 4 | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 5 | chromium-local-provider | Import a Model via CSV Import |  | ⚠️ |
| 6 | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 7 | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ❌ |
| 8 | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->