### END-TO-END TESTS

- Testing started at: November 19th 2025, 11:27:47 am

**📦 Test Result Summary**

- ✅ 82 passed
- ❌ 1 failed
- ⚠️ 4 flaked
- ⏩ 0 skipped

⌛ _Duration: 9 minutes and 19 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Browser | Test Case | Tags | Result |
| :---: | :---: | :--- | :---: | :---: |
| 1 | chromium-meshery-provider | Verify Kanvas Snapshot using data-testid |  | ⚠️ |
| 2 | chromium-meshery-provider | Verify that UI components are displayed |  | ⚠️ |
| 3 | chromium-meshery-provider | should edit design in Design Configurator |  | ⚠️ |
| 4 | chromium-meshery-provider | deploys a published design to a connected cluster |  | ❌ |
| 5 | chromium-local-provider | deploys a published design to a connected cluster |  | ⚠️ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->