<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partialCached "head.html" (dict "Title" .Title "Description" .Params.abstract "Site" .Site) .RelPermalink }}
    {{ partialCached "header.html" . .RelPermalink }}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script src="{{ .Site.BaseURL }}assets/js/error-code-handler.js"></script>
  </head>

  <body class="td-{{ .Kind }} dark-mode {{ with .Params.body_class }}{{ . }}{{ end }}">
    <script>
      if (localStorage.getItem("mode") === "light-mode") {
        document.body.classList.remove("dark-mode");
        document.querySelectorAll("#logo-dark-light").forEach(e => {
          e.src = e.dataset.logoForLight;
        });
      }
    </script>

    {{ partialCached "scripts/google-tagmanager-body.html" . }}

    <div class="flex-container">
      <div class="left-container">
        <div class="sidebar-container-wrapper">
          <div class="sidebar-container">
            {{ partial "sidebar.html" . }}
          </div>
        </div>

        <div class="icon-container">
          {{ partial "nav-toggle.html" . }}
        </div>
      </div>

      <main class="main-container" role="main">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb spb-1">
            <li class="breadcrumb-item active" aria-current="page">
              {{ partial "breadcrumbs.html" . }}
            </li>
          </ol>
        </nav>
        <div class="td-content">
          {{ if ne (.Params.display_title | default true) false }}
            <h1>{{ .Title }}</h1>
          {{ end }}
          {{ block "main" . }}{{ end }}
        </div>
      </main>

      {{ if ne (.Params.display_toc | default true) false }}
        {{ partial "toc.html" . }}
      {{ end }}
    </div>

    {{ partialCached "footer.html" . }}
    {{ partialCached "scripts.html" . }}
    {{ partialCached "scripts/google-analytics.html" . }}
  </body>
</html>
