@font-face {
    font-family: "Qanelas Soft";
    src: url('../fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft";
    src: url('../fonts/qanelas-soft/QanelasSoftThin.otf') format('opentype');
    font-weight: 100;
    font-display: swap;
}
