footer {
  padding: 10px 0 25px;
  font-size: 1.0rem;
  position: relative;
  background: linear-gradient(to right top, #3d3d3d, #343434, #2b2b2b, #222222, #1a1a1a, #181818, #161616, #141414, #181818, #1c1c1c, #212121, #252525);
  color: var(--color-grey-dark);

  .footer-top {
    padding: 35px 0 15px;
  }

  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px 80px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 40px 40px;
    border-bottom: 1px solid #3c494f;
  }

  .footer-bottom {
    max-width: 1500px; // adjust as needed
    margin: 0 auto;
  }

  .footer-bottom-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1050px;
    padding: 10px 40px 8px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.3;
    gap: 32px;
  }

  .footer-bottom-text {
    flex: 0 1 auto;
    text-align: center;
    padding: 0 10px;
    color: var(--color-grey-dark);
    font-size: 0.9rem;

    a {
      color: var(--color-grey-dark);
      text-decoration: none;

      &:hover {
        color: var(--color-white);
      }
    }
  }

  a {
    color: var(--color-grey-dark);
    text-decoration: none;

    &:hover {
      color: var(--color-white);
    }
  }

  @media (max-width: 1000px) {
    .footer-columns {
      gap: 15px 40px;
      max-width: 100%;
      justify-content: space-evenly;
    }

    .footer-bottom-inner {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      max-width: 100%;
      padding: 20px;
    }

    .footer-bottom-text {
      flex: unset;
      width: 100%;
      padding: 4px 0;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    .footer-columns {
      flex-direction: column;
      padding: 0 30px;
    }
  }
}


.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  flex: 0 0 auto;
  min-width: 0;
  font-size: 0.9rem;

  li {
    list-style: none;
    margin: 3px 0;

    a {
      color: var(--color-grey-dark);
      text-decoration: none;

      &:hover {
        color: var(--color-white);
        text-decoration: none;
      }

      svg {
        fill: var(--color-grey-dark);
        margin-right: 8px;
        transition: fill 0.2s ease;
        vertical-align: middle;
        position: relative;
        top: -2px;
        width: 21px;
        height: 21px;
      }

      &:hover svg {
        fill: var(--color-white);
      }

      &.twitter-icon:hover svg {
        fill: var(--color-white);
      }

      &.dockerhub-icon:hover svg {
        fill: #029cec;
      }

      &.youtube-icon:hover svg {
        fill: #cd201f;
      }

      &.linkedin-icon:hover svg {
        fill: #0077b5;
      }

      &.bluesky-icon:hover svg {
        fill: #1185fe;
      }

      &.github-icon:hover svg {
        fill: var(--color-white);
      }

      &.slack-icon:hover svg .first {
        fill: #e91e63;
      }

      &.slack-icon:hover svg .second {
        fill: #e91e63;
      }

      &.slack-icon:hover svg .third {
        fill: #00bcd4;
      }

      &.slack-icon:hover svg .fourth {
        fill: #00bcd4;
      }

      &.slack-icon:hover svg .fifth {
        fill: #4caf50;
      }

      &.slack-icon:hover svg .sixth {
        fill: #4caf50;
      }

      &.slack-icon:hover svg .seventh {
        fill: #ff9800;
      }

      &.slack-icon:hover svg .eigth {
        fill: #ff9800;
      }
    }

    &.footer-heading {
      margin-bottom: 6px;
      color: var(--color-grey-dark);
      font-size: 1.1em;
      font-weight: bold;

      a {
        color: var(--color-grey-dark);
        font-size: 1.1em;
        font-weight: bold;

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }
}

.social-links {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}