version: "3"
services:
  meshery-proxy:
    image: ${DESKTOP_PLUGIN_IMAGE}
    pull_policy: always
    ports:
      - "7877:7877"
  meshery:
    image: meshery/meshery:stable-latest
    pull_policy: always
    environment:
      - "PROVIDER_BASE_URLS=https://cloud.layer5.io"
      - "EVENT=mesheryLocal"
      - "KUBECONFIG_FOLDER=/home/appuser/.kube"
      - "PORT=9081"
      - PROVIDER=Layer5
    volumes:
      - $HOME/.kube:/home/appuser/.kube:ro
      - $HOME/.minikube:$HOME/.minikube:ro
      - /var/run/docker.sock:/var/run/docker.sock
