// Meshery Colors
$coolgray: #3C494F;
$lightgreen: #00D3A9;
$darkgreen: #00B39F;

table.adapters {
    box-shadow: 1px 1px 2px grey;
    border: 1px;

    td {
        width: auto;
        vertical-align: middle;
        border: 1px solid darkgray;
    }

    td.no-adapters {
        width: auto;  
        text-align: center; 
        color: #aaa;
        font-style: italic;
    }

    td.alpha-adapters {
        width: auto; 
        background-color: lightgray;
        text-align: center; 
    }

    td.beta-adapters {
        width: auto;  
        background-color: $lightgreen;
        text-align: center; 
        color: #fff;
    }

    td.stable-adapters {
        width: auto; 
        background-color: $coolgray;
        text-align: center; 
        color: #fff;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    img.adapter-logo {
        vertical-align: middle;
        margin-right: 5px;
        height: 30px;
        width: 30px;
    }

}