::selection {
    color: #fff !important;
    background: #B3D7FF !important;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    z-index: 1;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.breadcrumb-nav {
    color: 'white';
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

.search {
    margin-top: -0.7rem;
    background-color: #fff !important;
}

.search-input-wrap, .search-input {
    height: 100% !important;
}

body, .text-grey-lt-000 {
    color: #212121 !important;
}

a:not([class]):hover {
    background-image: none !important;
    background-size: 1px 1px; 
}

.search-input:focus + .search-icon {
    //  fill: #7253ed; 
    fill: #212121; 
}

// .search-input:focus, .search-input-wrap:focus {
//     border-bottom-color: transparent !important;
// }


input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}


#particles-js {
    top: 50% !important;
}

.page-footer .footer-copyright {
    background-color: none;
}

.page-footer {
    width: 100%;
}

nav ul li.active {
    background-color: transparent !important;
}

.navigation-list-child-list .navigation-list-item::before {
    content: "" !important; 
}

.navigation-list-link.active {
    color: black !important;
}
.navigation-list-link {
    color: black !important;
}

.navigation-list-child-list .navigation-list-item {
    width: 100%;
    color: white;
    margin-left:1em;
    padding-left:1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121 !important;
}

a:not([class]) {
    background-image: none !important;
}

.site-title {
    color: white !important;
}

code {
    background-color: transparent !important;
}

.breadcrumb-nav-list-item a {
    color: white !important;
}

p {
    line-height: 1.25em;
    font-size: 1em;
}

h2 {
    font-size: 32px !important;
}

h3 {
    font-size: 28px !important;
}

h4 {
    font-size: 24px !important;
}

h5 {
    font-size: 20px !important;
}

.page-footer .container {
    width: 85%;
}

.footer-list {
    margin-left: 0px !important;
}

.page-footer .footer-copyright {
    padding: 20px !important;
}

.footer-copyright .row {
    width: 100%;
}

nav {
    height: 0px !important;
}

.page-content a {
    white-space: normal !important;
}

.main-content a:hover {
    font-weight: normal !important;
    color: blue !important;
}