<!doctype html>
<html lang="en"><head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Meshery</title>

   </head>

   <body class="bg-light">

      <div class="container">
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="/play/static/img/meshery.png" alt="" width="20%" height="20%">
          <h2>Meshery</h2>
          <p class="lead">This is Meshery where you can play with a service mesh, run load tests and view metrics from AppOptics.</p>
        </div>
      
        <h4 class="mb-3">Controls</h4>
        <div class="row">
            <div class="col-sm">

                <!-- load test section start -->
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Load test the istio canonical <a href="{{.Url}}" target="_blank">product page</a> demo app</h5>
                      <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#runTests">Configure & Run</button>
                    </div>
                </div>

                <div class="modal fade" id="runTests" tabindex="-1" role="dialog" aria-labelledby="runTestsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="runTestsModalLabel">Configure and Run Load test</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form id="loadTestForm" class="needs-validation" novalidate>
	                        <div class="modal-body">
				                    <div id="loadTestSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                                Load test request has been submitted!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div id="loadTestError" class="alert alert-danger alert-dismissible fade show" role="alert">
                                  Load test request could not be submitted. Please try again later.
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>


                        <div class="row">
                        
				                    <div class="col-md-6 mb-3">
				                      <label for="c">Concurrent requests</label>
				                      <input type="number" class="form-control" id="c" name="c" placeholder="" value="1" required="" min="1">
				                      <div class="invalid-feedback">
				                        Valid number is required.
				                      </div>
				                    </div>
				                    <div class="col-md-6 mb-3">
				                      <label for="t">Duration (in minutes)</label>
				                      <input type="number" class="form-control" id="t" name="t" placeholder="" value="1" required="" min="1">
				                      <div class="invalid-feedback">
				                        Valid number is required.
				                      </div>
				                    </div>

                            
				                  </div>
	                        </div>
	                        <div class="modal-footer">
                            <span id="ltCountDown">
                              <span id="hour">00</span>:
                              <span id="mins">00</span>:
                              <span id="secs">00</span>
                            </span>
	                          <button id="ldClose" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
	                          <button id="loadRun" type="submit" class="btn btn-primary btn-sm">Run</button>
	                        </div>
                    	</form>
                      </div>
                    </div>
                  </div>
                  <!-- load test section end -->
            </div>
            



            
            <div class="col-sm">
              <!-- Istio config start -->
               <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Configure {{.Name}}</h5>
                    <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#istioConfigModal">Play with {{.Name}}</button>
                  </div>
                </div>
                    
                <div class="modal fade" id="istioConfigModal" tabindex="-1" role="dialog" aria-labelledby="istioConfigModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <form id="istioForm" class="needs-validation" novalidate>
                        <div class="modal-header">
                          <h5 class="modal-title" id="istioConfigModalLabel">Preconfigured {{.Name}} rules</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div id="istioConfigSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                                Config change have been submitted!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div id="istioConfigError" class="alert alert-danger alert-dismissible fade show" role="alert">
                                  Config change could not be applied. Please try again later.
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>

                            <div class="form-group">
                                {{ range $k, $v := .Ops }}
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="{{$k}}" class="custom-control-input" name="query" value="{{$k}}" required>
                                    <label class="custom-control-label" for="{{$k}}">{{$v}}</label>
                                  </div>
                                {{else}}
                                There are no operations to show at this time.
                                {{end}}
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button id="isClose" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- Istio config start -->

            </div>
        </div>
        <hr class="loadTestResults" style="display: none;">
        <h4 class="mb-3 loadTestResults" style="display: none;">Load Test Results</h4>
        <div class="row loadTestResults" style="display: none;">
          <div class="col-sm">

              <!-- load test section start -->
              <div class="card">
                  <div class="card-body">
                    <div class="card-title small">Start time: <span id="loadTestRunTime"></span></div>
                    <div id="running" style="display: none;"></div>
                    <div class="chart-container" id="cc1" style="position: relative; min-height: 20rem; width: 100%; display: block;">
                    <canvas style="background-color: rgba(255, 255, 255, 0.199); visibility: visible; display: block;" id="chart1" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div id="update" style="visibility: visible;">
                    <form id="updtForm" action="javascript:updateChart()" style="display: none;">
                    <input type="submit" value="Update:">
                    Time axis min <input type="text" name="xmin" size="5"> ms,
                    max <input type="text" name="xmax" size="5"> ms,
                    logarithmic: <input name="xlog" type="checkbox" onclick="updateChart()"> -
                    Count axis logarithmic: <input name="ylog" type="checkbox" onclick="updateChart()">
                    </form>
                    </div>

                  </div>
              </div>
          </div>
        </div>
        <hr>
        <h4 class="mb-3">Metrics</h4>
        <div class="row">
          
          {{range .AO.ChartIds}}
          <div class="col-sm">
              <div class="card">
                  <div class="card-body">
                    <div
                    class='librato-display-media'
                    data-chart_id='{{.}}'
                    data-duration='300'
                    data-height='300'
                    data-width='450'
                    data-tag_group_by=""
                    data-tag_filter=""
                  ></div>
                </div>
              </div>
          </div>
          {{else}}
          There are no dashboards to show at this time. Please ensure you have entered a valid AppOptics token.
          {{end}}
          
        </div>
      </div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- AppOptics -->
    <script
      type='text/javascript'
      src='https://sdk.librato.com/embedding/librato-sdk-v2.0.4-min.js'
      charset='utf-8'
      data-librato_email='{{.AO.Token}}'
      data-librato_token=''
      >
    </script>

    <script src="/play/static/js/Chart.min.js"></script>
    <script src="/play/static/js/fortio_chart.js"></script>
    <script src="/play/static/js/meshery.js"></script>
</body></html>