
  .cls1 {
    fill: #499c8c;
  }
  .cls2 {
    fill: #00b39f;
  }

  .svgElem1 {
    fill: transparent;
  }

  .activeSvgElem1 {
    fill: rgb(0, 211, 169);;
    /* webkitTransition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s, */

    transition : fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }

  .svgElem2 {
    fill: transparent;
  }

  .activeSvgElem2 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }

  .svgElem3 {
    fill: transparent;
  }

 .activeSvgElem3 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }

  .svgElem4 {
    fill: transparent;
  }

  .activeSvgElem4 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }

  .svgElem5 {
    fill: transparent;
  }

  .activeSvgElem5 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }

  .svgElem6 {
    fill: transparent;
  }

  .activeSvgElem6 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }

  .svgElem7 {
    fill: transparent;
  }

  .activeSvgElem7 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }

  .svgElem8 {
    fill: transparent;
  }

  .activeSvgElem8 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }

  .svgElem9 {
    fill: transparent;
  }

  .activeSvgElem9 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }

  .svgElem10 {
    fill: transparent;
  }

  .activeSvgElem10 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }

  .svgElem11 {
    fill: transparent;
  }

  .activeSvgElem11 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }

  .svgElem12 {
    fill: transparent;
  }

  .activeSvgElem12 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
  }

  .svgElem13 {
    fill: transparent;
  }

  .activeSvgElem13 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  }

  .svgElem14 {
    fill: transparent;
  }

  .activeSvgElem14 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  }

  .svgElem15 {
    fill: transparent;
  }

  .activeSvgElem15 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  }

  .svgElem16 {
    fill: transparent;
  }

  .activeSvgElem16 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
  }

  .svgElem17 {
    fill: transparent;
  }

  .activeSvgElem17 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
  }

  .svgElem18 {
    fill: transparent;
  }

  .activeSvgElem18 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
  }

  .svgElem19 {
    fill: transparent;
  }

  .activeSvgElem19 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
  }

  .svgElem20 {
    fill: transparent;
  }

  .activeSvgElem20 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  }

  .svgElem21 {
    fill: transparent;
  }

  .activeSvgElem21 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
  }

  .svgElem22 {
    fill: transparent;
  }

  .activeSvgElem22 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
  }

  .svgElem23 {
    fill: transparent;
  }

  .activeSvgElem23 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
  }

  .svgElem24 {
    fill: transparent;
  }

  .activeSvgElem24 {
    fill: rgb(0, 211, 169);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
  }

  .svgElem25 {
    fill: transparent;
  }

  .activeSvgElem25 {
    fill: rgb(0, 179, 159);
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
  }


