{{- if and (not .Values.serviceAccountNameOverride) .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "meshery-osm.serviceAccountName" . }}
  namespace: {{ .Values.metadata.namespace }}
  labels:
{{ include "meshery-osm.labels" . | nindent 4 }}
{{- end -}}
