.error-autocomplete-value .MuiOutlinedInput-notchedOutline {
  border: 1px solid red;
}
.error-autocomplete-value .MuiInputLabel-outlined {
  color: red;
}

svg.css-19bqh2r:hover {
  cursor: pointer;
}
