apiVersion: v1
kind: Service
metadata:
  name: {{ include "meshery-app-mesh.fullname" . }}
  namespace: {{ .Values.metadata.namespace }}
  labels:
    {{- include "meshery-app-mesh.labels" . | nindent 4 }}
  annotations:
{{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "meshery-app-mesh.selectorLabels" . | nindent 4 }}
