pre.codeblock-pre {
  display: inline-flex;
  justify-content: left;
  text-align: left;
  align-items: left;
  align-content: left;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden !important;
  margin: 0;
  padding: 0 !important;
  font-size: 1.5rem;
  border-radius: 4px;
  width: 100%;
  box-shadow: var(--box-shadow-primary);
  background-color: var(--color-secondary-dark) !important;
  max-width: 700px;
}

.codeblock {
  width: 100%;
  display: inline-flex;
  overflow: auto;
  justify-content: left;
  color: var(--color-primary-medium);
  margin: 0px;
  padding: 0px;
}

.clipboardjs {
  display: inline-flex;
  align-self: flex-end;
  justify-content: left;
  width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  color: var(--color-primary-medium);
}

.btn-copy-wrap {
  align-content: flex-end;
  z-index: 9;
  position: relative;
}

.clipbtn {
  right: 0;
  margin: 5px;
  border: 0px;
  background-color: transparent;
  font-size: 1.5rem;
  & i::before {
    color: #f1f3f5 !important;
  }
}

.clipbtn:hover {
  color: #fff;
  cursor: pointer;
}

