
// FLEX /////////////////////////////////////////////////////////////////////////////////////////////////////

.flex {
  display: flex;
  justify-content: space-evenly;
  gap: var(--col-gap);
  flex-wrap: wrap;

  &.flex-col--2 {
    &>* {
      flex: 0 0 calc(50% - calc(var(--col-gap) / 2));
    }
  }

  &.flex-col--3 {
    &>* {
      flex: 0 0 calc(33.33% - calc(var(--col-gap) / 3));
    }
  }

}

// BUTTONS /////////////////////////////////////////////////////////////////////////////////////////////////////

.btn-primary{
  padding: 1rem 2rem;
  background: var(--brand-color-secondary);
  border-radius: 11px;
  color: white;
  text-align: center;
  font-size: 2rem;
  transition: all .4s;
  
  &:hover{
    background: var(--brand-color-primary);
  }
}