.maincontainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-models);
  padding: 0.5rem 1rem;
  border-radius: 0.85rem;
  width: 100%;
  flex: 30%;
  max-width: 350px;
}
.Compitems {
  border-radius: 0.625rem;
  text-transform: uppercase;
  // color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
  font-size: 0.875rem;
  transition: all .1s ease-in-out;
  line-height: 1.1875rem;
  width: 100%;
}
.componentsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 2rem 2rem 2rem;
  justify-content: center;
}
.Compheading {
  // margin-top: 7rem;

  h2 {
    font-weight: normal;
  }
}
.componentimg {
  width: 80px;
  height: 80px;
}
.componentimg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h6.integration > a {
  color: var(--brand-color-primary);
  & :hover {
    color: var(--brand-color-secondary);
  }
}