/* COMMAND REFERENCE */
table.mesherycomponents {
    th {
        background-color: $charcoal;
        color:white;
    }
    td.childcomponent {
        color:white;
        background-color: $tealblue;
    }
}

.cmd-caption {
    margin-bottom: 2rem;
}

/* INSTALLATION */
div.prereqs {
    background-color: $charcoal;;
    color: #ddd;
    margin: 20px;
    padding: 15px;
    border-radius: 0.3rem;

}
a.meshery-light {
   color: $keppel;
}