@media (max-width: 1200px) {
  .content-table-wrapper {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  p {
    font-size: 1rem;
  }
  // table {
  //   font-size: 1.1rem !important;
  // }
  .main-container #breadcrumbs {
    font-size: 1rem;
  }
  pre {
    font-size: 1rem;
  }
  ul,
  ol {
    font-size: 1rem;
  }
}

@media  (min-width: 400px) and (max-width: 600px) {
  p {
    font-size: 1rem;
  }
  table {
    font-size: 1rem !important;
  }
  .main-container #breadcrumbs {
    font-size: 1rem;
  }
  .content-table-wrapper {
    display: none;
  }
  pre {
    font-size: 1rem;
  }
  ul,
  ol {
    font-size: 1rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: clamp(2rem, 1.875vw + 0.5vw, 3rem);
  }
  h2 {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2rem;
  }
 

  .alert,
  .alert-info,
  .alert-warning,
  .alert-dark {
    font-size: 1rem;
  }
}

