.content-table {
  padding: 1rem 1.5rem;
  background: var(--background-grey);
  box-shadow: var(--box-shadow-primary);
  z-index: 9;
  max-height: calc(100vh - calc(var(--navbar-height) + 10rem));
  height: fit-content;
  position: sticky;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
  top: calc(var(--navbar-height) + 5rem);
  // bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.4rem;
  border-radius: 7px;
  width: 90%;
  max-width: 200px;
  margin: 0 0 0 auto;
  overflow-y: auto;

  @media (max-width: 75em) {
    flex: 0 0 23%;
    // overflow-x: scroll;
  }
  @media (max-width: 56.25em) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    width: 1.2rem;
    // border-radius: 11px;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: #868e96;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  & strong {
    margin-bottom: 8px;
  }

  &__editable {
    display: flex;
    flex-direction: column;

    & a:first-of-type {
      margin-bottom: 4px;
    }
  }

  & #TableOfContents {
    display: flex;
    flex-direction: column;

    // gap: 10px;
    .selected {
      font-weight: 600;
    }
    & ul {
      padding-inline-start: 0px;
      & li {
        list-style: none !important;

        & a {
          color: var(--color-secondary-medium) !important;

          &:hover {
            color: var(--color-secondary-dark) !important;
          }
        }
      }
    }

    & .md-nav {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}

