@font-face {
    font-family: 'Qanelas Soft';
    src: url('../fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
  }

@font-face {
    font-family: 'Qanelas Soft Regular';
    src: url('../fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
  }

/* Set Qanelas Soft as the default font family for the entire application */
body {
  font-family: 'Qanelas Soft', 'Qanelas Soft Regular', sans-serif;
}