/* ---- particles.js container ---- */
:root {
  --main-grey: #647881;
  --main-light-blue: #62ACCD;
  --main-dark-grey: #3C494E;
  --main-dark-blue: #477E96;
  --main-light-grey: #9FBFCD;

}

#particles-js{
  width: 100%;
  height: 50%;
  top:60%;
  z-index: 0;
  position: absolute;
  background-image: url('');
  background-size: cover;
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
}

/* ---- base 

canvas{
  display:block;
  vertical-align:bottom;
}
---- */