---
# Collect all Sass
---

$darkjunglegreen: #1E2117;
$charcoal: #3C494F;
$keppel: #00b39f;
$caribbeangreen: #00d3a9;

@import "adapters";
@import "clipboard";
@import "installation";
@import "tables"