---
# Collect all Sass
---

$darkjunglegreen: #1e2117;
$charcoal: #3c494f;
$charcoal_rgba: rgba(60, 73, 79, 1);
$keppel: #00b39f;
$caribbeangreen: #00d3a9;

@import "adapters";
@import "clipboard";
@import "overview";
@import "mesheryctl";
@import "navbar";
@import "swagger";
@import "root-variables";
@import "helpers";
@import "layout";
@import "sidebar";
@import "elements";
@import "td-content";
@import "table-of-content";
@import "footer";
@import "table";
@import "code";
@import "alert";
@import "small-screen-styles";
@import "tabbed-menu";
