[Unit]
Description=Node exporter for Prometheus

[Service]
ExecStart=/root/node_exporter-1.5.0.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target
