### END-TO-END TESTS

- Testing started at: March 23rd 2026, 3:46:24 am

**📦 Test Result Summary**

- ✅ 16 passed
- ❌ 44 failed
- ⚠️ 0 flaked
- ⏩ 12 skipped

⌛ _Duration: 13 minutes and 52 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | Meshery | chromium-meshery-provider | Action buttons on adapters tab |  | ❌ |
| 2 | Meshery | chromium-meshery-provider | Aggregation Charts are displayed |  | ❌ |
| 3 | Meshery | chromium-meshery-provider | All settings tabs |  | ❌ |
| 4 | Meshery | chromium-meshery-provider | Common UI elements |  | ❌ |
| 5 | Meshery | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 6 | Meshery | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 7 | Meshery | chromium-meshery-provider | Create a Model |  | ❌ |
| 8 | Meshery | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ➖ |
| 9 | Meshery | chromium-meshery-provider | Grafana elements on metrics tab |  | ❌ |
| 10 | Meshery | chromium-meshery-provider | Import a Model via CSV Import |  | ➖ |
| 11 | Meshery | chromium-meshery-provider | Import a Model via File Import |  | ➖ |
| 12 | Meshery | chromium-meshery-provider | Import a Model via Url Import |  | ➖ |
| 13 | Meshery | chromium-meshery-provider | Logout from current user session |  | ❌ |
| 14 | Meshery | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 15 | Meshery | chromium-meshery-provider | Search a Model and Export it |  | ➖ |
| 16 | Meshery | chromium-meshery-provider | should edit design in Design Configurator |  | ❌ |
| 17 | Meshery | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ✅ |
| 18 | Meshery | chromium-meshery-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 19 | Meshery | chromium-meshery-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 20 | Meshery | chromium-meshery-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 21 | Meshery | chromium-meshery-provider | should identify relationships for meshery-design | relationship | ✅ |
| 22 | Meshery | chromium-meshery-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 23 | Meshery | chromium-meshery-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 24 | Meshery | chromium-meshery-provider | should verify Design Configurator page elements |  | ❌ |
| 25 | Meshery | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 26 | Meshery | chromium-meshery-provider | Test if Notification button is displayed |  | ❌ |
| 27 | Meshery | chromium-meshery-provider | Test if Profile button is displayed |  | ❌ |
| 28 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 29 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 30 | Meshery | chromium-meshery-provider | Verify Kanvas Details |  | ❌ |
| 31 | Meshery | chromium-meshery-provider | Verify Kanvas Snapshot UI elements |  | ❌ |
| 32 | Meshery | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 33 | Meshery | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 34 | Meshery | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ❌ |
| 35 | Meshery | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 36 | Meshery | chromium-meshery-provider | Verify Performance Analysis Details |  | ❌ |
| 37 | Meshery | chromium-meshery-provider | Verify that UI components are displayed |  | ❌ |
| 38 | None | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 39 | None | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 40 | None | chromium-local-provider | All settings tabs |  | ❌ |
| 41 | None | chromium-local-provider | Common UI elements |  | ❌ |
| 42 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 43 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 44 | None | chromium-local-provider | Create a Model |  | ❌ |
| 45 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 46 | None | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 47 | None | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 48 | None | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 49 | None | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 50 | None | chromium-local-provider | Logout from current user session |  | ❌ |
| 51 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 52 | None | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 53 | None | chromium-local-provider | should edit design in Design Configurator |  | ❌ |
| 54 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ✅ |
| 55 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 56 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 57 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 58 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ✅ |
| 59 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 60 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 61 | None | chromium-local-provider | should verify Design Configurator page elements |  | ❌ |
| 62 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ❌ |
| 63 | None | chromium-local-provider | Test if Notification button is displayed |  | ❌ |
| 64 | None | chromium-local-provider | Test if Profile button is displayed |  | ❌ |
| 65 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 66 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 67 | None | chromium-local-provider | Verify Kanvas Details |  | ❌ |
| 68 | None | chromium-local-provider | Verify Kanvas Snapshot UI elements |  | ❌ |
| 69 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 70 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 71 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 72 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 73 | None | chromium-local-provider | Verify Performance Analysis Details |  | ❌ |
| 74 | None | chromium-local-provider | Verify that UI components are displayed |  | ❌ |
| 75 | None | local-setup | authenticate as None provider |  | ✅ |
| 76 | None | remote-setup | authenticate with Remote Provider |  | ✅ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


<details>
<summary>❌ Test if Left Navigation Panel is displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ should verify Design Configurator page elements (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Verify Kanvas Snapshot UI elements (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify that UI components are displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/connections.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 40 |[39m
 [90m 41 |[39m test[33m.[39mdescribe[33m.[39mserial([32m'Connection Management Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 42 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 43 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 44 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 45 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToConnections()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Logout from current user session (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Test if Notification button is displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ should edit design in Design Configurator (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Verify Performance Analysis Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Create a Model (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/models.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 23 |[39m
 [90m 24 |[39m test[33m.[39mdescribe[33m.[39mserial([32m'Model Workflow Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 25 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 26 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 27 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 28 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToSettings()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Common UI elements (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Test if Profile button is displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Verify Kanvas Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ All settings tabs (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Aggregation Charts are displayed (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/settings.spec.ts`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 46 |[39m
 [90m 47 |[39m test[33m.[39mdescribe([32m'Settings Page Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 48 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 49 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 50 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 51 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToSettings()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Docker Extension Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Toggle "Send Anonymous Usage Statistics" (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/userpreference.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 28 |[39m
 [90m 29 |[39m test[33m.[39mdescribe([32m'User Preferences Page Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 30 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 31 |[39m     [36mconst[39m userPrefReq [33m=[39m page[33m.[39mwaitForRequest(
 [90m 32 |[39m       (request) [33m=>[39m
 [90m 33 |[39m         request[33m.[39murl()[33m.[39mstartsWith([32m`${ENV.MESHERY_SERVER_URL}/api/user/prefs`[39m) [33m&&[39m[0m
```

</details>

<details>
<summary>❌ Action buttons on adapters tab (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify that UI components are displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/connections.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 40 |[39m
 [90m 41 |[39m test[33m.[39mdescribe[33m.[39mserial([32m'Connection Management Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 42 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 43 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 44 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 45 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToConnections()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Design Embed Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Toggle "Send Anonymous Performance Results" (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/userpreference.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 28 |[39m
 [90m 29 |[39m test[33m.[39mdescribe([32m'User Preferences Page Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 30 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 31 |[39m     [36mconst[39m userPrefReq [33m=[39m page[33m.[39mwaitForRequest(
 [90m 32 |[39m       (request) [33m=>[39m
 [90m 33 |[39m         request[33m.[39murl()[33m.[39mstartsWith([32m`${ENV.MESHERY_SERVER_URL}/api/user/prefs`[39m) [33m&&[39m[0m
```

</details>

<details>
<summary>❌ Grafana elements on metrics tab (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ should verify Design Configurator page elements (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Verify Meshery Catalog Section Details (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Kanvas Snapshot UI elements (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Test if Left Navigation Panel is displayed (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ should edit design in Design Configurator (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Verify Meshery Adapter for Istio Section (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Performance Analysis Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Test if Notification button is displayed (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Logout from current user session (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Create a Model (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/models.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 23 |[39m
 [90m 24 |[39m test[33m.[39mdescribe[33m.[39mserial([32m'Model Workflow Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 25 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 26 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 27 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 28 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToSettings()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Kanvas Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Test if Profile button is displayed (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ Common UI elements (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Docker Extension Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Aggregation Charts are displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/settings.spec.ts`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 46 |[39m
 [90m 47 |[39m test[33m.[39mdescribe([32m'Settings Page Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 48 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 49 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 50 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 51 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToSettings()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Toggle "Send Anonymous Usage Statistics" (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/userpreference.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 28 |[39m
 [90m 29 |[39m test[33m.[39mdescribe([32m'User Preferences Page Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 30 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 31 |[39m     [36mconst[39m userPrefReq [33m=[39m page[33m.[39mwaitForRequest(
 [90m 32 |[39m       (request) [33m=>[39m
 [90m 33 |[39m         request[33m.[39murl()[33m.[39mstartsWith([32m`${ENV.MESHERY_SERVER_URL}/api/user/prefs`[39m) [33m&&[39m[0m
```

</details>

<details>
<summary>❌ All settings tabs (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Design Embed Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Toggle "Send Anonymous Performance Results" (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/userpreference.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 28 |[39m
 [90m 29 |[39m test[33m.[39mdescribe([32m'User Preferences Page Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 30 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 31 |[39m     [36mconst[39m userPrefReq [33m=[39m page[33m.[39mwaitForRequest(
 [90m 32 |[39m       (request) [33m=>[39m
 [90m 33 |[39m         request[33m.[39murl()[33m.[39mstartsWith([32m`${ENV.MESHERY_SERVER_URL}/api/user/prefs`[39m) [33m&&[39m[0m
```

</details>

<details>
<summary>❌ Action buttons on adapters tab (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Catalog Section Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ Grafana elements on metrics tab (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Adapter for Istio Section (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>






**🔗 Relationship Tests**

<details>
    <summary>[Show/Hide] Relationship Test Details (18 tests)</summary>
    <div markdown="1">

| Kind | Type | SubType | From | To | Model | Design Name | Status |
| :---: | :---: | :---: | :---: | :---: | :---: | :--- | :---: |
| edge | binding | permission | ClusterRole | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | binding | permission | Role | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | non-binding | network | Service | Deployment | kubernetes | service-to-deployment-network | ✅ |
| edge | non-binding | network | Service | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| edge | non-binding | reference | ClusterRoleBinding | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | deployment-configmap-reference-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | Understanding Relationships | ✅ |
| hierarchical | parent | alias | Container | Pod | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | hierarchical-parent-namespace-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | pv-pvc-edge-non-binding-reference-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | Understanding Relationships | ✅ |
| hierarchical | sibling | matchlabels | ClusterRole | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Deployment | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Service | Service | kubernetes | meshery-design-fixture.json | ✅ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->
