### END-TO-END TESTS

- Testing started at: April 5th 2026, 3:18:47 pm

**📦 Test Result Summary**

- ✅ 53 passed
- ❌ 16 failed
- ⚠️ 0 flaked
- ⏩ 3 skipped

⌛ _Duration: 5 minutes and 56 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | Meshery | chromium-meshery-provider | Action buttons on adapters tab |  | ✅ |
| 2 | Meshery | chromium-meshery-provider | Aggregation Charts are displayed |  | ✅ |
| 3 | Meshery | chromium-meshery-provider | All settings tabs |  | ✅ |
| 4 | Meshery | chromium-meshery-provider | Common UI elements |  | ✅ |
| 5 | Meshery | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 6 | Meshery | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 7 | Meshery | chromium-meshery-provider | Create a Model |  | ✅ |
| 8 | Meshery | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ✅ |
| 9 | Meshery | chromium-meshery-provider | Grafana elements on metrics tab |  | ✅ |
| 10 | Meshery | chromium-meshery-provider | Import a Model via CSV Import |  | ✅ |
| 11 | Meshery | chromium-meshery-provider | Import a Model via File Import |  | ✅ |
| 12 | Meshery | chromium-meshery-provider | Import a Model via Url Import |  | ✅ |
| 13 | Meshery | chromium-meshery-provider | Logout from current user session |  | ✅ |
| 14 | Meshery | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 15 | Meshery | chromium-meshery-provider | Search a Model and Export it |  | ✅ |
| 16 | Meshery | chromium-meshery-provider | should edit design in Design Configurator |  | ❌ |
| 17 | Meshery | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ❌ |
| 18 | Meshery | chromium-meshery-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ❌ |
| 19 | Meshery | chromium-meshery-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ❌ |
| 20 | Meshery | chromium-meshery-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ❌ |
| 21 | Meshery | chromium-meshery-provider | should identify relationships for meshery-design | relationship | ❌ |
| 22 | Meshery | chromium-meshery-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ❌ |
| 23 | Meshery | chromium-meshery-provider | should identify relationships for Service-To-Deployment-Network | relationship | ❌ |
| 24 | Meshery | chromium-meshery-provider | should verify Design Configurator page elements |  | ✅ |
| 25 | Meshery | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 26 | Meshery | chromium-meshery-provider | Test if Notification button is displayed |  | ✅ |
| 27 | Meshery | chromium-meshery-provider | Test if Profile button is displayed |  | ✅ |
| 28 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 29 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 30 | Meshery | chromium-meshery-provider | Verify Kanvas Details |  | ✅ |
| 31 | Meshery | chromium-meshery-provider | Verify Kanvas Snapshot UI elements |  | ✅ |
| 32 | Meshery | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 33 | Meshery | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 34 | Meshery | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ✅ |
| 35 | Meshery | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 36 | Meshery | chromium-meshery-provider | Verify Performance Analysis Details |  | ✅ |
| 37 | Meshery | chromium-meshery-provider | Verify that UI components are displayed |  | ✅ |
| 38 | None | chromium-local-provider | Action buttons on adapters tab |  | ✅ |
| 39 | None | chromium-local-provider | Aggregation Charts are displayed |  | ✅ |
| 40 | None | chromium-local-provider | All settings tabs |  | ✅ |
| 41 | None | chromium-local-provider | Common UI elements |  | ✅ |
| 42 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 43 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 44 | None | chromium-local-provider | Create a Model |  | ✅ |
| 45 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 46 | None | chromium-local-provider | Grafana elements on metrics tab |  | ✅ |
| 47 | None | chromium-local-provider | Import a Model via CSV Import |  | ✅ |
| 48 | None | chromium-local-provider | Import a Model via File Import |  | ✅ |
| 49 | None | chromium-local-provider | Import a Model via Url Import |  | ✅ |
| 50 | None | chromium-local-provider | Logout from current user session |  | ✅ |
| 51 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 52 | None | chromium-local-provider | Search a Model and Export it |  | ✅ |
| 53 | None | chromium-local-provider | should edit design in Design Configurator |  | ❌ |
| 54 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ❌ |
| 55 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ❌ |
| 56 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ❌ |
| 57 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ❌ |
| 58 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ❌ |
| 59 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ❌ |
| 60 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ❌ |
| 61 | None | chromium-local-provider | should verify Design Configurator page elements |  | ✅ |
| 62 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 63 | None | chromium-local-provider | Test if Notification button is displayed |  | ✅ |
| 64 | None | chromium-local-provider | Test if Profile button is displayed |  | ✅ |
| 65 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 66 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 67 | None | chromium-local-provider | Verify Kanvas Details |  | ✅ |
| 68 | None | chromium-local-provider | Verify Kanvas Snapshot UI elements |  | ✅ |
| 69 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 70 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 71 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ✅ |
| 72 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 73 | None | chromium-local-provider | Verify Performance Analysis Details |  | ✅ |
| 74 | None | chromium-local-provider | Verify that UI components are displayed |  | ✅ |
| 75 | None | local-setup | authenticate as None provider |  | ✅ |
| 76 | None | remote-setup | authenticate with Remote Provider |  | ✅ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


<details>
<summary>❌ should edit design in Design Configurator (Meshery - chromium-meshery-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ should identify relationships for Container-Hierarchical-Parent-Alias-Relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for deployment-configmap-reference-relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for Hierarchical-Parent-Namespace-Relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for Service-To-Deployment-Network (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for pv-pvc-edge-non-binding-reference-relationship (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for meshery-design (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for All Relationships (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should edit design in Design Configurator (None - chromium-local-provider)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ should identify relationships for Container-Hierarchical-Parent-Alias-Relationship (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for deployment-configmap-reference-relationship (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for Hierarchical-Parent-Namespace-Relationship (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for Service-To-Deployment-Network (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for pv-pvc-edge-non-binding-reference-relationship (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for meshery-design (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for All Relationships (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation.spec.js`

**Error Message:**
```
SyntaxError: "undefined" is not valid JSON
```

**Code Snippet:**
```
[0m [90m 41 |[39m       )[33m;[39m
 [90m 42 |[39m       [36mconst[39m responseJson [33m=[39m [36mawait[39m designResponse[33m.[39mjson()[33m;[39m
[31m[1m>[22m[39m[90m 43 |[39m       [36mconst[39m design [33m=[39m [33mJSON[39m[33m.[39mparse(responseJson[33m.[39mpattern_file)[33m;[39m
 [90m    |[39m                           [31m[1m^[22m[39m
 [90m 44 |[39m
 [90m 45 |[39m       [36mconst[39m designToTest [33m=[39m { [33m...[39mdesign[33m,[39m relationships[33m:[39m [] }[33m;[39m
 [90m 46 |[39m[0m
```

</details>






<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->
