apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.32.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: meshery-nsm
  name: meshery-nsm
spec:
  ports:
  - name: "10004"
    port: 10004
    targetPort: 10004
  selector:
    io.kompose.service: meshery-nsm
status:
  loadBalancer: {}
