apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.32.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: meshery-traefik-mesh
  name: meshery-traefik-mesh
spec:
  ports:
  - name: "10000"
    port: 10006
    targetPort: 10006
  selector:
    io.kompose.service: meshery-traefik-mesh
status:
  loadBalancer: {}
