{
  "presets": [
    ["next/babel", { "transform-runtime": { "corejs": 3 } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "relay",
    [
      "istanbul",
      {
        "exclude": [
          "**/*.spec.js",
          "pages/_document.js"
        ]
      }
    ]
  ]
}