{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "relay",
    [
      "istanbul",
      {
        "exclude": [
          "**/*.spec.js",
          "pages/_document.js"
        ]
      }
    ]
  ]
}