name: Build Server

on:
  workflow_call:
    outputs:
      backend-artifact:
        description: 'Name of the backend artifact'
        value: 'meshery-backend' 

    secrets: {}

jobs:
  build-backend:
    name: Backend build
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: true

      - name: Build backend
        run: |
          GOPROXY=https://proxy.golang.org,direct GOSUMDB=off GO111MODULE=on \
          go build -tags draft ./server/cmd/main.go ./server/cmd/error.go

      - name: Upload backend artifact
        id: upload
        uses: actions/upload-artifact@v6
        with:
          name: meshery-backend
          path: ./main