name: Playground CNCF - Deploy
on:
  workflow_call:
    inputs:
      image:
        type: string
        default: playground-latest
  workflow_dispatch:
    inputs:
      image:
        type: string
        default: playground-latest
jobs:
    cncf-playground-rollout:
        name: Update Meshery on CNCF playground
        if: github.repository == 'meshery/meshery'
        runs-on: ubuntu-24.04 
        steps:
        - name: Pull latest images and restart containers
          uses: appleboy/ssh-action@master
          with:
              host: ${{ secrets.OCI_BASTION_HOST }}
              username: ubuntu
              key: ${{ secrets.OCI_BASTION_KEY }}
              script: |
                kubectl config use-context prod
                cat .oci/config
                pwd
                echo $PATH
                oci --version
                # kubectl -n meshery set image deployment/playground meshery=${{ inputs.image }}

# Verify
# kubectl get deployment playground -n meshery-o custom-columns=NAME:.metadata.name,IMAGE:.spec.template.spec.containers[*].image --no-headers
