name: eslint-check
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'ui/**'
      - 'provider-ui/**'
jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'
    - name: Install dependencies for Meshery UI
      run: cd ui && npm ci
    - name: Install dependencies for Provider UI
      run: cd provider-ui && npm ci
    - name: Run ESLint Meshery-UI
      run: cd ui && npx eslint .
    - name: Run ESLint Provider-UI
      run: cd provider-ui && npx eslint .

    # Replace the steps above with the following make targets and autocommit when ready.
    # - name: Run eslint Meshery UI
    #   run: make ui-lint 
    # - name: Run eslint Provider UI
    #   run: make ui-provider-lint
    # - name: Commit changes
    #   uses: stefanzweifel/git-auto-commit-action@v5
    #   with:
    #     commit_user_name: mesheryci
    #     commit_user_email: ci@meshery.io
    #     commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
    #     commit_options: "--signoff"
    #     commit_message: "[UI] Chore: eslint fixes"
