name: eslint-check
on:
  pull_request:
    paths:
      - 'ui/**'
      - 'provider-ui/**'
jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Install eslint in Meshery UI and Provider UI
      run: |
        cd ui && npm i eslint && cd ..
        cd provider-ui && npm i eslint && cd ..
    - name: Run eslint Meshery UI
      run: make ui-lint NOT_FIX=true
    - name: Run eslint Provider UI
      run: make ui-provider-lint NOT_FIX=true
