name: Golang Unit and Integration Tests
on:
  push:
    branches:
      - "master"
    paths:
      - "**.go"
      - "**.golden"
      - ".github/workflows/go-testing-ci.yml"
  pull_request:
    branches:
      - "master"
    paths:
      - "**.go"
      - "**.golden"
      - ".github/workflows/go-testing-ci.yml"
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"

jobs:
  golangci:
    strategy:
      matrix:
        go: [1.25]
        os: [ubuntu-24.04]
    name: golangci-lint
    if: github.repository == 'meshery/meshery'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7
          args: --config=.github/workflows/.golangci.yml --timeout=10m
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-24.04
    needs: golangci
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Install lynx for xdg-open support
        run: sudo apt-get install lynx
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Run coverage
        run: go test --short ./... -race -coverprofile=coverage.txt -covermode=atomic
      - name: Upload coverage to Codecov
        if: github.repository == 'meshery/meshery'
        uses: codecov/codecov-action@v4.3.0
        with:
          files: ./coverage.txt
          flags: unittests
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-24.04
    needs: golangci
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Install lynx for xdg-open support
        run: sudo apt-get install lynx
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Verify Docker Details
        run: |
          docker version
          docker compose ps
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.10.0
        with:
          cluster_name: "kind-cluster"
      - name: Run coverage
        run: |
          cd mesheryctl;
          make; 
          ./mesheryctl system start -p docker;
          ./mesheryctl system update -y;
          ./mesheryctl system status -y;
          ./mesheryctl system restart -y;
          ./mesheryctl system check --preflight;  
          ./mesheryctl system stop -y;
          echo "Running Mesheryctl with Docker completed."
        
          ./mesheryctl system start -p kubernetes;
          ./mesheryctl system update -y;
          ./mesheryctl system status -y;
          ./mesheryctl system restart -y;
          ./mesheryctl system check --preflight;
          ./mesheryctl system stop -y;
          echo "Running Mesheryctl with Kubernetes completed."
          
      - name: Upload coverage to Codecov
        if: github.repository == 'meshery/meshery'
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
          flags: gointegrationtests     
