name: Meshery CLI Build
on:
  workflow_dispatch:

jobs:

  ctlrelease:
    name: Mesheryctl build
    if: github.repository == 'meshery/meshery'
    runs-on: macos-latest
    steps:
      - name: Clean disk space
        run: |
          sudo rm -rf /Users/runner/.dotnet
          sudo rm -rf /Users/runner/.ghcup
          sudo rm -rf /Users/runner/Library/Android
          sudo rm -rf /Users/runner/.rustup
          sudo rm -rf /Users/runner/Library/Caches/Homebrew
          sudo rm -rf /Users/runner/Library/Developer/Xcode/DerivedData
          df -h
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@master
        with:
          go-version: "1.25"
      - name: goreleaser with tag
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_NOTES_PAT }}
          RELEASE_CHANNEL: "stable"
        with:
          version: 2
          args: build --clean --skip=validate -f .github/.goreleaser.yml