name: Release Notes Publisher

on:
  release:
    types: 'published'

jobs:
  update_release_notes_docs:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@master
          with:
            token: ${{ secrets.RELEASEDRAFTER_PAT }}
            ref: 'master'
          

        - name: Get Release Info
          run: |
            export RELEASE_TAG=$(curl -s https://api.github.com/repos/meshery/meshery/releases/latest | jq '.["tag_name"]' | tr -d '"')
            printf '%b\n' "---\nlayout: release\ndate: $(date +'%Y-%m-%d')\ntag: $RELEASE_TAG\n---\n\n`curl -s https://api.github.com/repos/meshery/meshery/releases/latest | jq -r '.["body"]'`" > ./docs/_releases/$RELEASE_TAG.md

        - name: Commit
          uses: stefanzweifel/git-auto-commit-action@v4
          with:
            file_pattern: docs
            commit_user_name: l5io
            commit_user_email: ci@layer5.io
            commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
            commit_options: '--signoff'
            commit_message: '[Docs] Release Notes for Meshery ${{ steps.release_drafter.outputs.tag_name }}'
            branch: master
