name: Release Notes Publisher

on:
  release:
    types: 'published'

jobs:
  update_release_notes_docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          token: ${{ secrets.RELEASE_NOTES_PAT }}
          ref: 'master'
          fetch-depth: 1
      - name: Get Release Info
        run: |
          curl -s https://api.github.com/repos/meshery/meshery/releases/latest > latest_release.json
          
          export RELEASE_TAG=$( cat latest_release.json | jq '.["tag_name"]' | tr -d '"')
          export PRERELEASE=$( cat latest_release.json | jq '.["prerelease"]' | tr -d '"')
          export RELEASE_BODY=$( cat latest_release.json | jq '.["body"]' | tr -d '"')
          
          PROCESSED_BODY=$(echo "$RELEASE_BODY" | sed -E 's|(\[)|\\\1|g; s|(\])|\\\1|g')
          
          printf '%b\n' "---\nlayout: release\ndate: $(date +'%Y-%m-%d')\ntag: $RELEASE_TAG\nprerelease: $PRERELEASE\n---\n\n$PROCESSED_BODY" > ./docs/_releases/$RELEASE_TAG.md
      # Using shallow fetch to save disk space
      # Release notes update only needs the latest remote state
      - name: Pull latest changes from remote
        run: |
          git fetch origin master --depth=1
          git merge origin/master
          
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: docs
          commit_user_name: l5io
          commit_user_email: ci@meshery.io
          commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          commit_options: '--signoff'
          commit_message: '[Docs] Release Notes for Meshery ${{ steps.release_drafter.outputs.tag_name }}'
          branch: master