name: Open API Specification and Documentation
on:
  push:
    branches:
      - 'master'
    paths:
      - 'handlers/**'
jobs:
  swaggerci:
    if: github.repository == 'meshery/meshery'
    name: swagger-docs
    runs-on: ubuntu-24.04
    steps:
      - name: Clean disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
      - name: Checkout code
        uses: actions/checkout@master
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          ref: "master"
          fetch-depth: 1
      - name: Setup go-swagger
        uses: minchao/setup-go-swagger@v1
        with:
          version: v0.26.1
      - name: swagger-spec
        run: swagger generate spec -o ./server/helpers/swagger.yaml --scan-models
      - name: swagger-docs
        run: swagger generate spec -o ./docs/_data/swagger.yml --scan-models && swagger flatten ./docs/_data/swagger.yml -o ./docs/_data/swagger.yml --with-expand --format=yaml
      # Using shallow fetch to save disk space
      # Swagger update only needs the latest remote state
      - name: Pull latest changes from remote
        run: |
          git fetch origin master --depth=1
          git reset --hard origin/master
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: docs server/helpers/
          commit_user_name: l5io
          commit_user_email: ci@meshery.io
          commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          commit_options: '--signoff'
          commit_message: "[Docs] Updated swagger docs for REST API"